---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"a0d35ddd-a510-41be-b476-c1457753afcc","secretKey":"Y9k8hJnhhmVFaWt+o5vG7GATD2O/B7FlMBtcGRkEltE=","timestamp":1482917333}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-vnkxjbiRXflQOoY0dgp69A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"Hq2REWLdJIrvP4LTerUdZIATQ9Lqe4Mhq6RcKsn14w0="}'
  recorded_at: Wed, 28 Dec 2016 09:28:54 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/users/authenticate
    body:
      encoding: UTF-8
      string: '{"email":"prova@prova.it","password":"provapw"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc:Hq2REWLdJIrvP4LTerUdZIATQ9Lqe4Mhq6RcKsn14w0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7d-iS6kCgJbsy6DCUQnjJ895A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"token":"goPZGteEg3RlQ1LRbOSFDB3/NSJ3IWN1hvVP2xSmt+A=","user":{"id":105690,"email":"prova@prova.it"}}}'
  recorded_at: Wed, 28 Dec 2016 09:28:57 GMT
[...]
- request:
    method: post
    uri: http://api.marketcloud.it/v0/addresses
    body:
      encoding: UTF-8
      string: '{"full_name":"Pinco Pallo","user_id":105690,"email":"pinco@pallo.com","country":"Italy","city":"Milano","address1":"Via
        Vittor Pisani 13","postal_code":"20127"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc:RBfeddvhYI7epaVmxdv8pwEUQo9WV0bawZm+dL4mVG4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"da-Vs6RaWn6QA1BYtCGIlO3rA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"full_name":"Pinco Pallo","user_id":105690,"email":"pinco@pallo.com","country":"Italy","city":"Milano","address1":"Via
        Vittor Pisani 13","postal_code":"20127","application_id":11736,"id":106972}}'
  recorded_at: Wed, 28 Dec 2016 09:28:57 GMT
recorded_with: VCR 3.0.3
