---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"aMolmhVOy5ia36IHTJVStAiNcACMuMfqDXeevY8l/og=","timestamp":1486900585}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-MpUL32qZWXYs0eljlTDbuQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"pzkP1oMSXceWr4QxK1llHBWGLORNK9gtWpUQ6ketQ/Q="}'
  recorded_at: Sun, 12 Feb 2017 11:56:25 GMT
- request:
    method: delete
    uri: http://api.marketcloud.it/v0/addresses/128843
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:pzkP1oMSXceWr4QxK1llHBWGLORNK9gtWpUQ6ketQ/Q=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f-KOwe7l9ASePE8hNQacHSyA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true}'
  recorded_at: Sun, 12 Feb 2017 11:56:25 GMT
recorded_with: VCR 3.0.3
