---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"OA9Yn8H2k0WMFyNf4PQ0a6T1l1OMBfbxel/IHqt4A6o=","timestamp":1483050808}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-3674ayTZLZPgfFD52Pj8qQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"1moKDk7GE/r03JcIbjvqN3MG0Qqudw6u6/KrAjLR2Po="}'
  recorded_at: Thu, 29 Dec 2016 22:33:28 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/addresses/107234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:1moKDk7GE/r03JcIbjvqN3MG0Qqudw6u6/KrAjLR2Po=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"134-sCxZkftpaUHVEr+Gls8yhQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"full_name":"Pinco Pallo","id":107234,"user_id":null,"address1":"via
        Vittor Pisani 13","address2":null,"city":"Milano","country":"Italy","postal_code":"20124","company":null,"phone_number":null,"alternate_phone_number":null,"email":"pinco@pallo.it","vat":null,"application_id":107224}}'
  recorded_at: Thu, 29 Dec 2016 22:33:28 GMT
[...]
- request:
    method: put
    uri: http://api.marketcloud.it/v0/addresses/107234
    body:
      encoding: UTF-8
      string: '{"full_name":"Pinco Pallo","user_id":107227,"email":"pinco@pallo.com","country":"Norway","city":"Oslo","address1":"Via
        Vittor Pisani 13","postal_code":"20127"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:3JXr8otVjwgObZLNqwcrqcbPyqjLiykSezk3ff7a2bU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"136-kUZWGP4xEeo+m/+qCe33bw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"full_name":"Pinco Pallo","id":107234,"user_id":107227,"address1":"Via
        Vittor Pisani 13","address2":null,"city":"Oslo","country":"Norway","postal_code":"20127","company":null,"phone_number":null,"alternate_phone_number":null,"email":"pinco@pallo.com","vat":null,"application_id":107224}}'
  recorded_at: Thu, 29 Dec 2016 22:33:29 GMT
recorded_with: VCR 3.0.3
