---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"Sm14/QmMhp+iiA4/FWPRYZrK6TxUkd5FmrYHM7sYFSk=","timestamp":1483898751}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-pUvLsuDhSMGkH3dPAYmYuw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"sibyLXknUG0GZVM0DJOuBD72O+VwIrBmbgLNCvLZTx0="}'
  recorded_at: Sun, 08 Jan 2017 18:05:51 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/addresses?user_id=107227
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:sibyLXknUG0GZVM0DJOuBD72O+VwIrBmbgLNCvLZTx0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"19a-nJrKlxEC/7EUV/oJ+t1Zwg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"full_name":"Pinco Pallo","id":107234,"user_id":107227,"address1":"Via
        Vittor Pisani 13","address2":"","city":"Oslo","country":"Norway","postal_code":"20127","company":null,"phone_number":"","alternate_phone_number":null,"email":"pinco@pallo.com","vat":"","application_id":107224}],"_links":{"curr":"http://api.marketcloud.it/v0/addresses?user_id=107227&"},"count":1,"page":1,"pages":1}'
  recorded_at: Sun, 08 Jan 2017 18:05:52 GMT
recorded_with: VCR 3.0.3
