---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"ygldCmtVkHe8arJNiW+slpUSnfhm4i0QU8z31dXVsxM=","timestamp":1483360693}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-ZAXZVueYwQ5dnBhu8C2h2w"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"tlEtC+mUvxfoiiV284NIKpJM+rixSkAOgznAOaSgKe8="}'
  recorded_at: Mon, 02 Jan 2017 12:38:14 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/addresses/107822
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:tlEtC+mUvxfoiiV284NIKpJM+rixSkAOgznAOaSgKe8=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"50-Z15ALGNUADZPwOXPXYCs3Q"
    body:
      encoding: UTF-8
      string: '{"status":false,"errors":[{"code":404,"message":"Not found","type":"NotFound"}]}'
  recorded_at: Mon, 02 Jan 2017 12:38:14 GMT
recorded_with: VCR 3.0.3
