---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"ygldCmtVkHe8arJNiW+slpUSnfhm4i0QU8z31dXVsxM=","timestamp":1483360693}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-FxB49Zh/UFpehaZJf6LO7g"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"NB8m5DZ+To+RrMoSKgQJewy5znCo/3Vzlng/IGqzURA="}'
  recorded_at: Mon, 02 Jan 2017 12:38:13 GMT
- request:
    method: delete
    uri: http://api.marketcloud.it/v0/addresses/107822
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:NB8m5DZ+To+RrMoSKgQJewy5znCo/3Vzlng/IGqzURA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f-KOwe7l9ASePE8hNQacHSyA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true}'
  recorded_at: Mon, 02 Jan 2017 12:38:13 GMT
recorded_with: VCR 3.0.3
