---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"Q9M7otBKJrqfXbdEeBWT4UWdDNolJ5vJW05vO7cBPY8=","timestamp":1483309010}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-4wmtinH0lkoigKC1T1yAvw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"RWW3Qx0Ev274+vSfdASPv7E/C8FmyIpkZ5KSzqBr6AI="}'
  recorded_at: Sun, 01 Jan 2017 22:16:50 GMT
- request:
    method: put
    uri: http://api.marketcloud.it//v0/addresses/107234
    body:
      encoding: UTF-8
      string: '{"full_name":"Pinco Pallo","user_id":107227,"email":"pinco@pallo.com","country":"Norway","city":"Oslo","address1":"Via
        Vittor Pisani 13","postal_code":"20127"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:RWW3Qx0Ev274+vSfdASPv7E/C8FmyIpkZ5KSzqBr6AI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"136-kUZWGP4xEeo+m/+qCe33bw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"full_name":"Pinco Pallo","id":107234,"user_id":107227,"address1":"Via
        Vittor Pisani 13","address2":null,"city":"Oslo","country":"Norway","postal_code":"20127","company":null,"phone_number":null,"alternate_phone_number":null,"email":"pinco@pallo.com","vat":null,"application_id":107224}}'
  recorded_at: Sun, 01 Jan 2017 22:16:51 GMT
recorded_with: VCR 3.0.3
