---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"4oAjP5TGgkQrP9Km7B7eXmqcH0iJropcIAC7ZF2YBcA=","timestamp":1483050807}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-7U9JnfOL15mFi5EzjJRqmA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"uz7+JZhCH6VzRQI48H7ebvkJpaqT6D+OR7fzF59KcKM="}'
  recorded_at: Thu, 29 Dec 2016 22:33:28 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/addresses?user_id107227
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:uz7+JZhCH6VzRQI48H7ebvkJpaqT6D+OR7fzF59KcKM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"373-ZdDMjxxMLJVcpg8AqOFd8A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"full_name":"Pinco Pallo","id":107234,"user_id":null,"address1":"via
        Vittor Pisani 13","address2":null,"city":"Milano","country":"Italy","postal_code":"20124","company":null,"phone_number":null,"alternate_phone_number":null,"email":"pinco@pallo.it","vat":null,"application_id":107224},{"full_name":"ad","id":107231,"user_id":0,"address1":"ad","address2":"ad","city":"ad","country":"ad","postal_code":"ad","company":null,"phone_number":"ad","alternate_phone_number":"ad","email":"ad","vat":"ad","application_id":107224},{"full_name":"ad","id":107230,"user_id":0,"address1":"ad","address2":"ad","city":"ad","country":"ad","postal_code":"ad","company":null,"phone_number":"ad","alternate_phone_number":"ad","email":"ad","vat":"ad","application_id":107224}],"_links":{"curr":"http://api.marketcloud.it/v0/addresses?user_id107227=0&"},"count":3,"page":1,"pages":1}'
  recorded_at: Thu, 29 Dec 2016 22:33:28 GMT
recorded_with: VCR 3.0.3
