---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"ySgHzS+HqAFGDm6Djeyfg8lFaOKr8D/mCLfegA/7P24=","timestamp":1486900584}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-jMRklOEFMZ1DsBiS+J5L+g"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"dpXmnHCxlT90KQ6uOblGcpjoDaSEodyswFkL7gZ4y7I="}'
  recorded_at: Sun, 12 Feb 2017 11:56:25 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/users?email=prova2@prova.it
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:dpXmnHCxlT90KQ6uOblGcpjoDaSEodyswFkL7gZ4y7I=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"102-hW6aiJcKErA4/1TMF4CBwQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"email":"prova2@prova.it","name":"prova","created_at":"2016-12-29T22:33:39.341Z","id":107237,"registered_with":"marketcloud"}],"_links":{"curr":"http://api.marketcloud.it/v0/users?email=prova2@prova.it&"},"count":1,"page":1,"pages":1}'
  recorded_at: Sun, 12 Feb 2017 11:56:25 GMT
[...]
- request:
    method: post
    uri: http://api.marketcloud.it/v0/addresses
    body:
      encoding: UTF-8
      string: '{"full_name":"Pinco Pallo","user_id":107237,"email":"pinco@pallo.com","country":"Italy","city":"Milano","address1":"Via
        Vittor Pisani 13","postal_code":"20127"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:WBwVxDX9UTRmiPtbIs7H5WvujQBT5bEdA7T2yRwhcnI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"db-x0NzfMPDUjutTG5ZBj789g"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"full_name":"Pinco Pallo","user_id":107237,"email":"pinco@pallo.com","country":"Italy","city":"Milano","address1":"Via
        Vittor Pisani 13","postal_code":"20127","application_id":107224,"id":128843}}'
  recorded_at: Sun, 12 Feb 2017 11:56:25 GMT
recorded_with: VCR 3.0.3
