---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"APFZ0XjKCA9vcE7JB1AIYK52ai715i/1x2i7Kp6Jp90=","timestamp":1483816117}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-VVXx3mTOkj9eT+Hz/HOOMg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"BhnsAGwcgoHR1ZkO2mzoU6hAM4yuWAI5BGJ8r81GZ6U="}'
  recorded_at: Sat, 07 Jan 2017 19:08:37 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/addresses/107234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:BhnsAGwcgoHR1ZkO2mzoU6hAM4yuWAI5BGJ8r81GZ6U=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"130-UrlMc2dvKBtLh4TUWnrYPw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"full_name":"Pinco Pallo","id":107234,"user_id":107227,"address1":"Via
        Vittor Pisani 13","address2":"","city":"Oslo","country":"Norway","postal_code":"20127","company":null,"phone_number":"","alternate_phone_number":null,"email":"pinco@pallo.com","vat":"","application_id":107224}}'
  recorded_at: Sat, 07 Jan 2017 19:08:37 GMT
recorded_with: VCR 3.0.3
