---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"QSk27dh4tADtGtV6khEzNcCbGQUDV1zD2pgqzDl+0/4=","timestamp":1483115052}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-4dNwCTV6wWymjs6GPSVdfA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"aoIgEz1feKrh9WeNFpzJsGQWZE7edGUmGR5suD/NfeI="}'
  recorded_at: Fri, 30 Dec 2016 16:24:12 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/addresses/107234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:aoIgEz1feKrh9WeNFpzJsGQWZE7edGUmGR5suD/NfeI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"136-kUZWGP4xEeo+m/+qCe33bw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"full_name":"Pinco Pallo","id":107234,"user_id":107227,"address1":"Via
        Vittor Pisani 13","address2":null,"city":"Oslo","country":"Norway","postal_code":"20127","company":null,"phone_number":null,"alternate_phone_number":null,"email":"pinco@pallo.com","vat":null,"application_id":107224}}'
  recorded_at: Fri, 30 Dec 2016 16:24:12 GMT
[...]
- request:
    method: put
    uri: http://api.marketcloud.it/v0/addresses/107234
    body:
      encoding: UTF-8
      string: '{"full_name":"Pinco Pallo","user_id":107227,"email":"pinco@pallo.com","country":"Norway","city":"Oslo","address1":"Via
        Vittor Pisani 13","postal_code":"20127"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:XJlw3lF1SkSl2oQBuyDRgxVctxcdrF5wHZFGXuxcZ08=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"136-kUZWGP4xEeo+m/+qCe33bw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"full_name":"Pinco Pallo","id":107234,"user_id":107227,"address1":"Via
        Vittor Pisani 13","address2":null,"city":"Oslo","country":"Norway","postal_code":"20127","company":null,"phone_number":null,"alternate_phone_number":null,"email":"pinco@pallo.com","vat":null,"application_id":107224}}'
  recorded_at: Fri, 30 Dec 2016 16:24:12 GMT
recorded_with: VCR 3.0.3
