---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"4oAjP5TGgkQrP9Km7B7eXmqcH0iJropcIAC7ZF2YBcA=","timestamp":1483050807}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-tcyd6uf++AIiXkomqyt3Cw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"UX0CLaIz2PXL+SotXJm5bzAdByCp5Hl7XFPGUy8Oo1s="}'
  recorded_at: Thu, 29 Dec 2016 22:33:27 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/addresses/107234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:UX0CLaIz2PXL+SotXJm5bzAdByCp5Hl7XFPGUy8Oo1s=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"134-sCxZkftpaUHVEr+Gls8yhQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"full_name":"Pinco Pallo","id":107234,"user_id":null,"address1":"via
        Vittor Pisani 13","address2":null,"city":"Milano","country":"Italy","postal_code":"20124","company":null,"phone_number":null,"alternate_phone_number":null,"email":"pinco@pallo.it","vat":null,"application_id":107224}}'
  recorded_at: Thu, 29 Dec 2016 22:33:27 GMT
recorded_with: VCR 3.0.3
