---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"BQTYMR3JYbPR0lBla9hyRSZOC3tgekuEdZEV0ErAAIg=","timestamp":1483309009}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-rABL7l565zZAZDwHOSJCWQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"yQlyk3FaeS7Wb6fDKDbgnbWJKtBfBS6fF+KItZIUInc="}'
  recorded_at: Sun, 01 Jan 2017 22:16:49 GMT
- request:
    method: get
    uri: http://api.marketcloud.it//v0/addresses/107234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:yQlyk3FaeS7Wb6fDKDbgnbWJKtBfBS6fF+KItZIUInc=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"136-kUZWGP4xEeo+m/+qCe33bw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"full_name":"Pinco Pallo","id":107234,"user_id":107227,"address1":"Via
        Vittor Pisani 13","address2":null,"city":"Oslo","country":"Norway","postal_code":"20127","company":null,"phone_number":null,"alternate_phone_number":null,"email":"pinco@pallo.com","vat":null,"application_id":107224}}'
  recorded_at: Sun, 01 Jan 2017 22:16:49 GMT
recorded_with: VCR 3.0.3
