---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"BQTYMR3JYbPR0lBla9hyRSZOC3tgekuEdZEV0ErAAIg=","timestamp":1483309009}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-xjPHlGKfzMvbEnt0fT53Qw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"mi6KsNF3BT8ZlgHQYctkgryAHcNcKyMvb4Sm36duCMg="}'
  recorded_at: Sun, 01 Jan 2017 22:16:50 GMT
- request:
    method: get
    uri: http://api.marketcloud.it//v0/users?email=prova2@prova.it
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:mi6KsNF3BT8ZlgHQYctkgryAHcNcKyMvb4Sm36duCMg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"102-hW6aiJcKErA4/1TMF4CBwQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"email":"prova2@prova.it","name":"prova","created_at":"2016-12-29T22:33:39.341Z","id":107237,"registered_with":"marketcloud"}],"_links":{"curr":"http://api.marketcloud.it/v0/users?email=prova2@prova.it&"},"count":1,"page":1,"pages":1}'
  recorded_at: Sun, 01 Jan 2017 22:16:50 GMT
[...]
- request:
    method: post
    uri: http://api.marketcloud.it//v0/addresses
    body:
      encoding: UTF-8
      string: '{"full_name":"Pinco Pallo","user_id":107237,"email":"pinco@pallo.com","country":"Italy","city":"Milano","address1":"Via
        Vittor Pisani 13","postal_code":"20127"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:J5YRIq0sw0c/Vy5XPZze9xOilTFYl7zzDiyWOKDmiVA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"db-xV/HdFogHvH/Zuj3YuN+YA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"full_name":"Pinco Pallo","user_id":107237,"email":"pinco@pallo.com","country":"Italy","city":"Milano","address1":"Via
        Vittor Pisani 13","postal_code":"20127","application_id":107224,"id":107728}}'
  recorded_at: Sun, 01 Jan 2017 22:16:50 GMT
recorded_with: VCR 3.0.3
