---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"pRc4WiMYx2vG09ieYQRSDvAh9jdnE5gTKLYD1j65ytE=","timestamp":1483115051}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-eeIb8kUOBWMSg0odqj6+JA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"2TNxrCBDNyIV97MztF8RJP/y/wYDlppOjGvg4q+QHtI="}'
  recorded_at: Fri, 30 Dec 2016 16:24:11 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/addresses?user_id107227
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:2TNxrCBDNyIV97MztF8RJP/y/wYDlppOjGvg4q+QHtI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1394-1oySWakjWFPGaBJxYboSmg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"full_name":"asd","id":107358,"user_id":0,"address1":"asd","address2":"asd","city":"asd","country":"asd","postal_code":"asd","company":null,"phone_number":"asd","alternate_phone_number":"asd","email":"asd","vat":"asd","application_id":107224},{"full_name":"asd","id":107357,"user_id":0,"address1":"asd","address2":"asd","city":"asd","country":"asd","postal_code":"asd","company":null,"phone_number":"asd","alternate_phone_number":"asd","email":"asd","vat":"asd","application_id":107224},{"full_name":"ASD","id":107345,"user_id":0,"address1":"ASD","address2":"ASD","city":"ASD","country":"ASD","postal_code":"ASD","company":null,"phone_number":"ASD","alternate_phone_number":"ASD","email":"ASD","vat":"ASD","application_id":107224},{"fu[...]
