---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"h5zq6mITDUIMj14d7mxGkMmk84zcVJShKKsLHlZtjCY=","timestamp":1486900445}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-PK0Y+jch61heN49IQOw7zA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"6k2Byn6GcevzpucMcC1G6xWqXHT7kf9vA+qhPEWq3J4="}'
  recorded_at: Sun, 12 Feb 2017 11:54:05 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/addresses/107234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:6k2Byn6GcevzpucMcC1G6xWqXHT7kf9vA+qhPEWq3J4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"130-UrlMc2dvKBtLh4TUWnrYPw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"full_name":"Pinco Pallo","id":107234,"user_id":107227,"address1":"Via
        Vittor Pisani 13","address2":"","city":"Oslo","country":"Norway","postal_code":"20127","company":null,"phone_number":"","alternate_phone_number":null,"email":"pinco@pallo.com","vat":"","application_id":107224}}'
  recorded_at: Sun, 12 Feb 2017 11:54:05 GMT
recorded_with: VCR 3.0.3
