---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"BQTYMR3JYbPR0lBla9hyRSZOC3tgekuEdZEV0ErAAIg=","timestamp":1483309009}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-rivj+Mpg73DkJKy1NddwNg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"ZoIKr4Wp/TtH7rvBoSZav/otcGa6aDPnCrM2FvArW28="}'
  recorded_at: Sun, 01 Jan 2017 22:16:49 GMT
- request:
    method: get
    uri: http://api.marketcloud.it//v0/addresses?user_id=107227
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:ZoIKr4Wp/TtH7rvBoSZav/otcGa6aDPnCrM2FvArW28=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1216-I4raaGl4AJVXVi4fmabf1A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"full_name":"Pinco Pallo","id":107723,"user_id":107237,"address1":"Via
        Vittor Pisani 13","address2":null,"city":"Milano","country":"Italy","postal_code":"20127","company":null,"phone_number":null,"alternate_phone_number":null,"email":"pinco@pallo.com","vat":null,"application_id":107224},{"full_name":"Pinco
        Pallo","id":107722,"user_id":107237,"address1":"Via Vittor Pisani 13","address2":null,"city":"Milano","country":"Italy","postal_code":"20127","company":null,"phone_number":null,"alternate_phone_number":null,"email":"pinco@pallo.com","vat":null,"application_id":107224},{"full_name":"","id":107538,"user_id":0,"address1":"","address2":"","city":"","country":"","postal_code":"","company":null,"phone_number":"","alternate_phone_number":"","email":"","vat":"","appli[...]
