---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"oTyqd0iUcvlwJEq9lHHtIp/9SCEAUYTZzQDLXPiakmc=","timestamp":1486900480}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-c8MNo5FrQxBUFKf07PVeQA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"UJHbbh6VIGjHcWXGzz81uOLzXZTN05vtyNga5k9ge+M="}'
  recorded_at: Sun, 12 Feb 2017 11:54:41 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/addresses/107234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:UJHbbh6VIGjHcWXGzz81uOLzXZTN05vtyNga5k9ge+M=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"130-UrlMc2dvKBtLh4TUWnrYPw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"full_name":"Pinco Pallo","id":107234,"user_id":107227,"address1":"Via
        Vittor Pisani 13","address2":"","city":"Oslo","country":"Norway","postal_code":"20127","company":null,"phone_number":"","alternate_phone_number":null,"email":"pinco@pallo.com","vat":"","application_id":107224}}'
  recorded_at: Sun, 12 Feb 2017 11:54:41 GMT
[...]
- request:
    method: put
    uri: http://api.marketcloud.it/v0/addresses/107234
    body:
      encoding: UTF-8
      string: '{"full_name":"Pinco Pallo","user_id":107227,"email":"pinco@pallo.com","country":"Norway","city":"Oslo","address1":"Via
        Vittor Pisani 13","postal_code":"20127"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:ZEmkofsp/lMX4fEESm6CH7LCL25b7yoeDXTjmPif1BE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"130-UrlMc2dvKBtLh4TUWnrYPw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"full_name":"Pinco Pallo","id":107234,"user_id":107227,"address1":"Via
        Vittor Pisani 13","address2":"","city":"Oslo","country":"Norway","postal_code":"20127","company":null,"phone_number":"","alternate_phone_number":null,"email":"pinco@pallo.com","vat":"","application_id":107224}}'
  recorded_at: Sun, 12 Feb 2017 11:54:41 GMT
recorded_with: VCR 3.0.3
