---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"a0d35ddd-a510-41be-b476-c1457753afcc","secretKey":"QtrWVFxmVEyoKV2je+GHy+g4R9B003OdlXqZPoFB68M=","timestamp":1482917337}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-9eg8s5q5GKSA8t7XZdyJxg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"XSQqMhlnf5eIG2JNL39zF4sPEqgyYwjCZhFRrw41q8U="}'
  recorded_at: Wed, 28 Dec 2016 09:28:57 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/addresses/106858
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc:XSQqMhlnf5eIG2JNL39zF4sPEqgyYwjCZhFRrw41q8U=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"135-XDr7A6Nj6QwQf9FEkclgzw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"full_name":"Pinco Pallo","id":106858,"user_id":105690,"address1":"Via
        Vittor Pisani 13","address2":null,"city":"Oslo","country":"Norway","postal_code":"20127","company":null,"phone_number":null,"alternate_phone_number":null,"email":"pinco@pallo.com","vat":null,"application_id":11736}}'
  recorded_at: Wed, 28 Dec 2016 09:29:01 GMT
[...]
- request:
    method: put
    uri: http://api.marketcloud.it/v0/addresses/106858
    body:
      encoding: UTF-8
      string: '{"full_name":"Pinco Pallo","user_id":105690,"email":"pinco@pallo.com","country":"Norway","city":"Oslo","address1":"Via
        Vittor Pisani 13","postal_code":"20127"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc:14Hu2crdJdCz/II3XPAjZyzgSmzWmFSaSgbxa+ytX6E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"135-XDr7A6Nj6QwQf9FEkclgzw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"full_name":"Pinco Pallo","id":106858,"user_id":105690,"address1":"Via
        Vittor Pisani 13","address2":null,"city":"Oslo","country":"Norway","postal_code":"20127","company":null,"phone_number":null,"alternate_phone_number":null,"email":"pinco@pallo.com","vat":null,"application_id":11736}}'
  recorded_at: Wed, 28 Dec 2016 09:29:01 GMT
recorded_with: VCR 3.0.3
