---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"ygldCmtVkHe8arJNiW+slpUSnfhm4i0QU8z31dXVsxM=","timestamp":1483360693}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-vWjI82d3ciKOMHAaKYQJDQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"s0rIA0l9d/rZi/qYc0QvTxPo7fL9PNCwP2nkvO0/Pis="}'
  recorded_at: Mon, 02 Jan 2017 12:38:13 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/addresses
    body:
      encoding: UTF-8
      string: '{"full_name":"Pinco Pallo","user_id":107237,"email":"pinco@pallo.com","country":"Italy","city":"Milano","address1":"Via
        Vittor Pisani 13","postal_code":"20127"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:s0rIA0l9d/rZi/qYc0QvTxPo7fL9PNCwP2nkvO0/Pis=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"db-OvDPfs+E6pzdWm8eoTuQ9A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"full_name":"Pinco Pallo","user_id":107237,"email":"pinco@pallo.com","country":"Italy","city":"Milano","address1":"Via
        Vittor Pisani 13","postal_code":"20127","application_id":107224,"id":107822}}'
  recorded_at: Mon, 02 Jan 2017 12:38:13 GMT
recorded_with: VCR 3.0.3
