---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"2d1teolWbHWUw0Jc17zZpnZUAUi2U8Gcaiq63MHcYrg=","timestamp":1483051008}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-jPK7T1c+/wJM1qDLOe9AKw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"qxZunpsh73uOPwk7QSZ40gYwISY+SfWDK/mbKAXq2vw="}'
  recorded_at: Thu, 29 Dec 2016 22:36:49 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/users/authenticate
    body:
      encoding: UTF-8
      string: '{"email":"prova2@prova.it","password":"provapw"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:qxZunpsh73uOPwk7QSZ40gYwISY+SfWDK/mbKAXq2vw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7e-4zQ0BLdhxNICjdCFDN//tg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"token":"twyaMrXPk43Se0P3ObBfdgB10Mm1EtH9JNAP7k+BAik=","user":{"id":107237,"email":"prova2@prova.it"}}}'
  recorded_at: Thu, 29 Dec 2016 22:36:49 GMT
[...]
- request:
    method: post
    uri: http://api.marketcloud.it/v0/addresses
    body:
      encoding: UTF-8
      string: '{"full_name":"Pinco Pallo","user_id":107237,"email":"pinco@pallo.com","country":"Italy","city":"Milano","address1":"Via
        Vittor Pisani 13","postal_code":"20127"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:qgfkLFz06nhIP3aNAwD15C5ZVs84P8Daz5sblVczCFs=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"db-zDiUA/w5/v9wtyjg4vgdxg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"full_name":"Pinco Pallo","user_id":107237,"email":"pinco@pallo.com","country":"Italy","city":"Milano","address1":"Via
        Vittor Pisani 13","postal_code":"20127","application_id":107224,"id":107239}}'
  recorded_at: Thu, 29 Dec 2016 22:36:49 GMT
recorded_with: VCR 3.0.3
