---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"/2lOwJquTrsFg8GNDiOYd3vLmssnv+oVzEVKptWyR4k=","timestamp":1483115763}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-f8xXO/WJYOFKzjOWNm2u9A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"xVCwVpObWcbZcogyJxdK1A1tqEvodI4Cq+GR3lrnCb8="}'
  recorded_at: Fri, 30 Dec 2016 16:36:03 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/users?email=prova2@prova.it
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:xVCwVpObWcbZcogyJxdK1A1tqEvodI4Cq+GR3lrnCb8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"102-hW6aiJcKErA4/1TMF4CBwQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"email":"prova2@prova.it","name":"prova","created_at":"2016-12-29T22:33:39.341Z","id":107237,"registered_with":"marketcloud"}],"_links":{"curr":"http://api.marketcloud.it/v0/users?email=prova2@prova.it&"},"count":1,"page":1,"pages":1}'
  recorded_at: Fri, 30 Dec 2016 16:36:03 GMT
[...]
- request:
    method: post
    uri: http://api.marketcloud.it/v0/addresses
    body:
      encoding: UTF-8
      string: '{"full_name":"Pinco Pallo","user_id":107237,"email":"pinco@pallo.com","country":"Italy","city":"Milano","address1":"Via
        Vittor Pisani 13","postal_code":"20127"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:v/RI6cqXkOL/rDO5cKhZJZiT7U8+rR0cx2FmaM593ng=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"db-iL2l0VoPQWsIV/9INBqvpA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"full_name":"Pinco Pallo","user_id":107237,"email":"pinco@pallo.com","country":"Italy","city":"Milano","address1":"Via
        Vittor Pisani 13","postal_code":"20127","application_id":107224,"id":107365}}'
  recorded_at: Fri, 30 Dec 2016 16:36:04 GMT
recorded_with: VCR 3.0.3
