---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"rJOiuRqSpCHc/mGRqvW+U0dDX9oY7zafNQZFEe2ST2I=","timestamp":1486900601}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-Zf4hm2rMeae69NIwardAng"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"smc0iLhGNVbQT9m7fuXIl+73RZJPuaz+hAIKHzDnSfU="}'
  recorded_at: Sun, 12 Feb 2017 11:56:41 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/addresses/128843
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:smc0iLhGNVbQT9m7fuXIl+73RZJPuaz+hAIKHzDnSfU=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"50-Z15ALGNUADZPwOXPXYCs3Q"
    body:
      encoding: UTF-8
      string: '{"status":false,"errors":[{"code":404,"message":"Not found","type":"NotFound"}]}'
  recorded_at: Sun, 12 Feb 2017 11:56:41 GMT
recorded_with: VCR 3.0.3
