---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"zNEA2JE2mRH91D5hjxapSQFKIREpNzCjy74akpI+pcw=","timestamp":1486907799}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-1H5+If8TfS9s+AMXBwx+rg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"oqdsfkat9s3h4pOdohMxKhjlUt9zvgkQo7Qqaspg8CI="}'
  recorded_at: Sun, 12 Feb 2017 13:56:39 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/application/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:oqdsfkat9s3h4pOdohMxKhjlUt9zvgkQo7Qqaspg8CI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d8-XZcbXhnI9SZyQ+RibE1vYA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"api_calls_quota_left":48667,"api_calls_quota_max":50000,"created_at":"2016-12-29T22:07:05.000Z","currency_code":"EUR","email_address":"noreply@coalca.it","id":107224,"logo":"https://www.marketcloud.it/img/logo/normal.png","name":"Coalca
        Shop Test","owner":"nico@niccolosanarico.com","renew_date":"2017-01-29T22:07:06.000Z","storage_left":524288,"storage_max":524288,"tax_rate":22,"tax_type":"all","timezone":"W.
        Europe Standard Time","url":null}]}'
  recorded_at: Sun, 12 Feb 2017 13:56:39 GMT
recorded_with: VCR 3.0.3
