---
http_interactions:
- request:
    method: get
    uri: http://api.marketcloud.it/v0/application
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b5-dHbz7oi7+e70sb+Pv8e+RQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"name":"Coalca Shop Test","tax_rate":22,"currency_code":"EUR","logo":"https://www.marketcloud.it/img/logo/normal.png","timezone":"W.
        Europe Standard Time"}]}'
  recorded_at: Wed, 04 Jan 2017 13:47:58 GMT
recorded_with: VCR 3.0.3
