---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"zBW8ybtKXcRfW+F6NPQ76UCy9w8GRYQVoqRctT0L/g4=","timestamp":1483309011}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-hgPxont6vb2bV9lWzHCYLA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"NItl8Bii94Umy2OhygbB4CtUggLM2t+09QqrcssmAgw="}'
  recorded_at: Sun, 01 Jan 2017 22:16:51 GMT
recorded_with: VCR 3.0.3
