---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"5cqEUCCV0W1alrBuPGkoteTNa2M90NeowACicibVIwQ=","timestamp":1483050809}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-i825JEgwIwaidYE5SufKyA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"1AyzXk7SD/bggihxunlmMUGwQ90rQf5aQaVOrCR3iOk="}'
  recorded_at: Thu, 29 Dec 2016 22:33:29 GMT
recorded_with: VCR 3.0.3
