---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"a0d35ddd-a510-41be-b476-c1457753afcc","secretKey":"l0gvX/1W+Orf9N5a0AUvLky2avAwiL1AuMwAoS28nGM=","timestamp":1482917341}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-fRab/CDr4Atz1ySDzAfBcg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"MAk5YvneDVFhdsGna25EkMekYlYDqU8y0n7jpI71vIk="}'
  recorded_at: Wed, 28 Dec 2016 09:29:01 GMT
recorded_with: VCR 3.0.3
