---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"QSk27dh4tADtGtV6khEzNcCbGQUDV1zD2pgqzDl+0/4=","timestamp":1483115052}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-3ldWseQnxHt7n68C21fp8A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"D0uCsUWRJOllHMEtHMjU9ZyfzgGbjSCXtLfUJYxJQlQ="}'
  recorded_at: Fri, 30 Dec 2016 16:24:13 GMT
recorded_with: VCR 3.0.3
