---
http_interactions:
- request:
    method: get
    uri: http://api.marketcloud.it/v0/integrations/braintree/clientToken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7f-4uDKlfdsDqAiKxuQ9wo4oQ"
    body:
      encoding: UTF-8
      string: '{"status":false,"errors":[{"code":404,"message":"The requested path
        (/v0/integrations/braintree/clientToken) does not exist"}]}'
  recorded_at: Thu, 29 Dec 2016 21:56:19 GMT
recorded_with: VCR 3.0.3
