---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"/uj1xitNgpRjfshWfGYNsIwQAGq7VZDLNreEFldhEhU=","timestamp":1488402458}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b3-6SPa2lxXQPwYnmoFpO/cEA"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": true,
          "token": "LAkiMlmbbM2rQ2hvpWQRKkXyugFs7gETklTKawoSQdA=",
          "data": {
            "token": "LAkiMlmbbM2rQ2hvpWQRKkXyugFs7gETklTKawoSQdA=",
            "access": "admin"
          }
        }
  recorded_at: Wed, 01 Mar 2017 21:07:38 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/brands
    body:
      encoding: UTF-8
      string: '{"name":"a brand","description":"With a name"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:LAkiMlmbbM2rQ2hvpWQRKkXyugFs7gETklTKawoSQdA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8d-UGsd4OKynNpS2e90u1hqUg"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": true,
          "data": {
            "name": "a brand",
            "description": "With a name",
            "application_id": 107224,
            "id": 136195
          }
        }
  recorded_at: Wed, 01 Mar 2017 21:07:38 GMT
recorded_with: VCR 3.0.3
