---
http_interactions:
- request:
    method: get
    uri: http://api.marketcloud.it/v0/brands/114239
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9b-cyMMlYyYQoCVueIr3gfK4g"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"id":114239,"name":"Saturnia","description":"Descrizione
        della marca Saturnia","image_url":null,"url":null,"application_id":107224}}'
  recorded_at: Tue, 24 Jan 2017 18:40:08 GMT
recorded_with: VCR 3.0.3
