---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"R6irsGNCPocSs5i8L03tHDeV04A2jGkrOO600VFz44U=","timestamp":1488407560}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b3-QIXq8ILBzrCnKgez9D/gLA"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": true,
          "token": "FyoWVlgTvreM61VDPz6civsLjVig7nZ0y2YqNwEhmf8=",
          "data": {
            "token": "FyoWVlgTvreM61VDPz6civsLjVig7nZ0y2YqNwEhmf8=",
            "access": "admin"
          }
        }
  recorded_at: Wed, 01 Mar 2017 22:32:41 GMT
- request:
    method: put
    uri: http://api.marketcloud.it/v0/brands/136195
    body:
      encoding: UTF-8
      string: '{"name":"a brand","description":"With an updated name"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:FyoWVlgTvreM61VDPz6civsLjVig7nZ0y2YqNwEhmf8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"96-GmgJQI4cuE2tbymOWL9whA"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": true,
          "data": {
            "name": "a brand",
            "description": "With an updated name",
            "application_id": 107224,
            "id": 136195
          }
        }
  recorded_at: Wed, 01 Mar 2017 22:32:41 GMT
recorded_with: VCR 3.0.3
