---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"w1LeSVEGUJgDRSp7ut0BEkdHpA8h/Za8IPj6C5enH00=","timestamp":1485283225}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-ANhk8p63kRaPq3H2Hk/WYQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"cvQKWsOu9G58aj6X/0Pq6qbByrYKf7fKpMjsWANdrLc="}'
  recorded_at: Tue, 24 Jan 2017 18:40:26 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/brands
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:cvQKWsOu9G58aj6X/0Pq6qbByrYKf7fKpMjsWANdrLc=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f3-3gZ8yV7ctD8ayD2cgsJJ2w"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"id":114239,"name":"Saturnia","description":"Descrizione
        della marca Saturnia","image_url":null,"url":null,"application_id":107224}],"_links":{"curr":"http://api.marketcloud.it/v0/brands?"},"count":1,"page":1,"pages":1}'
  recorded_at: Tue, 24 Jan 2017 18:40:27 GMT
recorded_with: VCR 3.0.3
