---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"uL38l4pk+a0UAwoHvhcHZC53Ngw2Y2otsLPoFQ+97Tk=","timestamp":1486900653}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-VqyIoKQgbGuu+xirPP/hhg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"UCJJb7t8D+HY+/Aplwqn4t6n+Ju18rn8IBPiy+o9vdQ="}'
  recorded_at: Sun, 12 Feb 2017 11:57:34 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/brands/-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:UCJJb7t8D+HY+/Aplwqn4t6n+Ju18rn8IBPiy+o9vdQ=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5e-DNTRBfF/A6ccLG6T0gEh6Q"
    body:
      encoding: UTF-8
      string: '{"status":false,"errors":[{"code":404,"message":"Unable to find brand
        -1","type":"NotFound"}]}'
  recorded_at: Sun, 12 Feb 2017 11:57:34 GMT
recorded_with: VCR 3.0.3
