---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"lKp038+ggzxhzS963QgnCbstUDDhCQ95ByfIwpkv9jw=","timestamp":1486910321}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-oXrvgO0eZlpjDhuZCUhZPg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"Veyi2ei8OVvbaujAixHgJ6789ai9uUaDORH2n1rDIkY="}'
  recorded_at: Sun, 12 Feb 2017 14:38:41 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/brands/114239
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:Veyi2ei8OVvbaujAixHgJ6789ai9uUaDORH2n1rDIkY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10c-utCmzt8d0aeAGqmo86oq7w"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"_id":"589c56aa84cdb77c1db3eb9b","id":114239,"name":"Saturnia","description":"Descrizione
        della marca Saturnia","image_url":null,"url":null,"application_id":107224,"created_at":"2017-01-24T17:35:25.000Z","updated_at":"2017-01-24T17:35:25.000Z"}}'
  recorded_at: Sun, 12 Feb 2017 14:38:42 GMT
recorded_with: VCR 3.0.3
