---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"xA9aVqPkK9pY6A0i3+7Nu2JYsQtH2gy1YlkPJFTa7fo=","timestamp":1483309013}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-vHqecLsHtG58yWxaWspD0Q"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"BKdASWWl0pEUFl1qadmlUNklx7/85klrb0arL+QEflM="}'
  recorded_at: Sun, 01 Jan 2017 22:16:53 GMT
- request:
    method: get
    uri: http://api.marketcloud.it//v0/carts?user_id=107237
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:BKdASWWl0pEUFl1qadmlUNklx7/85klrb0arL+QEflM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f2-9Xl+FAKywUNvEXnTRA3B5A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"created_at":1483115764854,"application_id":107224,"items":[],"status":"open","user_id":107237,"id":107366},{"created_at":1483051136481,"application_id":107224,"items":[],"status":"open","user_id":107237,"id":107240}]}'
  recorded_at: Sun, 01 Jan 2017 22:16:53 GMT
recorded_with: VCR 3.0.3
