---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"HtaBUuX1dnCNKFNB9jmG6amvH+l0zOlUswwq3lAb4SM=","timestamp":1486314230}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-KZt4lM8/DxgOH9oeNkZKZA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"fIDdRegjuMsHLp38et9aPvJEz0ifC8gGtUmK40fwHk0="}'
  recorded_at: Sun, 05 Feb 2017 17:03:50 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/carts
    body:
      encoding: UTF-8
      string: '{"user_id":null,"items":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:fIDdRegjuMsHLp38et9aPvJEz0ifC8gGtUmK40fwHk0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac-r9POx1mm0htzwCcxaSD+Qw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"created_at":1486314229131,"application_id":107224,"items":[],"status":"open","user_id":null,"id":125451,"items_total":0,"total":0,"total_weight":0}}'
  recorded_at: Sun, 05 Feb 2017 17:03:50 GMT
recorded_with: VCR 3.0.3
