---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"2GqexLK8/nSrmcFzQsJkkXYOPia+6e1OGowpqtg+O4s=","timestamp":1483140537}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-VW8PgOORAYjDgWl55nKfHw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"grYaOe1jPYzdzEcR6abOploQZDmGLwC6SUUCLcQaBZ4="}'
  recorded_at: Fri, 30 Dec 2016 23:28:57 GMT
- request:
    method: patch
    uri: http://api.marketcloud.it/v0/carts/107232
    body:
      encoding: UTF-8
      string: '{"op":"add","items":[{"product_id":107226,"quantity":2}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:grYaOe1jPYzdzEcR6abOploQZDmGLwC6SUUCLcQaBZ4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"202-CDaheHZDmNTtfmi7LMmayQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"items":[{"price":99.99,"name":"Pentola","description":"<p>Una
        bellissima pentola<br/></p>","images":["https://shop.coalca.it/spree/products/327/product/0500070.jpg?1480023556"],"media":[],"published":true,"type":"simple_product","slug":"pentola","category_id":107225,"requires_shipping":true,"weight":3,"depth":50,"width":50,"height":10,"id":107226,"product_id":107226,"variant_id":0,"quantity":12}],"id":107232,"user_id":107227,"items_total":1199.8799999999999,"total":1199.8799999999999}}'
  recorded_at: Fri, 30 Dec 2016 23:28:58 GMT
recorded_with: VCR 3.0.3
