---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"G4Huovd3r84og79EBlQKXXv4AkynstalUixJTTYXg2Q=","timestamp":1483487487}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-ST1INAaPWWIP6mr0zeH4Yw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"5C2GtWT0KrTCdYiy9/3HWRlUDhdimarrYuTld+JRhOw="}'
  recorded_at: Tue, 03 Jan 2017 23:51:27 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/carts
    body:
      encoding: UTF-8
      string: '{"user_id":107237,"items":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:5C2GtWT0KrTCdYiy9/3HWRlUDhdimarrYuTld+JRhOw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d-7KzQU/eLTIkla/Qv81Yelw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"created_at":1483487487738,"application_id":107224,"items":[],"status":"open","user_id":107237,"id":108135,"items_total":0,"total":0}}'
  recorded_at: Tue, 03 Jan 2017 23:51:28 GMT
recorded_with: VCR 3.0.3
