---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"z3lG2nwh3+Bxa0weW5belwFQOZJ34f9MQokDA0+fYjM=","timestamp":1483309015}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-z+jkYJ+ORU3F+Dvd3DbOVg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"yGLxl7yMKhdiQ+cR+AMKEMBGpe2ZKgvgHRRbgbQ3+Yc="}'
  recorded_at: Sun, 01 Jan 2017 22:16:55 GMT
- request:
    method: patch
    uri: http://api.marketcloud.it//v0/carts/107232
    body:
      encoding: UTF-8
      string: '{"op":"add","items":[{"product_id":107226,"quantity":2}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:yGLxl7yMKhdiQ+cR+AMKEMBGpe2ZKgvgHRRbgbQ3+Yc=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"21b-o3lDeoXMtpOzifrrqRbzbw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"items":[{"price":99.99,"name":"Pentola","description":"<p>Una
        bellissima pentola<br/></p>","images":["https://shop.coalca.it/spree/products/327/product/0500070.jpg?1480023556"],"media":[],"published":true,"type":"simple_product","slug":"pentola","category_id":107588,"requires_shipping":true,"weight":3,"depth":50,"width":50,"height":10,"id":107226,"product_id":107226,"variant_id":0,"display_price":"99.99
        EUR","quantity":6}],"id":107232,"user_id":107227,"items_total":599.9399999999999,"total":599.9399999999999}}'
  recorded_at: Sun, 01 Jan 2017 22:16:56 GMT
recorded_with: VCR 3.0.3
