---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"a0d35ddd-a510-41be-b476-c1457753afcc","secretKey":"nPneqbgZd9jPfJUNzjlRJ1TuggrJamJHudI4n7TpBEI=","timestamp":1483030044}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-9B2y6nv9SUlMchLRTehgxw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"g7x6x+dud0ksajaE3PcVnx5e6VmpfujGjV9+VglqOj0="}'
  recorded_at: Thu, 29 Dec 2016 16:47:25 GMT
- request:
    method: patch
    uri: http://api.marketcloud.it/v0/carts/106825
    body:
      encoding: UTF-8
      string: '{"op":"add","items":[{"product_id":105688,"quantity":2}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc:g7x6x+dud0ksajaE3PcVnx5e6VmpfujGjV9+VglqOj0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a5-aGnWWimqRjHoG/c1gl807A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"items":[{"price":59.99,"name":"Padella","description":"<p>Un
        padella bellissima<br/></p>","images":[],"media":[],"published":false,"type":"simple_product","slug":"padella","category_id":105362,"sku":"34532412312412","id":105688,"product_id":105688,"variant_id":0,"display_price":"59.99
        EUR","requires_shipping":true,"quantity":8}],"id":106825,"user_id":105690,"items_total":479.92,"total":479.92}}'
  recorded_at: Thu, 29 Dec 2016 16:47:25 GMT
recorded_with: VCR 3.0.3
