---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"ObNpgobqOmENEjSGpVbSPt8h+6Ob6I4xW8Tqys2ZgFs=","timestamp":1494183728}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d0-2oOjyyerbAm8+hs2fDoFJOTpQ8c"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": true,
          "token": "GqdS4Ku+w27dYvgrePLxguZ91MnFNTb+Z9X0x0RlV84=",
          "data": {
            "token": "GqdS4Ku+w27dYvgrePLxguZ91MnFNTb+Z9X0x0RlV84=",
            "access": "admin",
            "expire": 1494198127490
          }
        }
  recorded_at: Sun, 07 May 2017 19:02:08 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/carts/107232
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:GqdS4Ku+w27dYvgrePLxguZ91MnFNTb+Z9X0x0RlV84=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f0-4MYa7Ld+K0yuakZtzNhGSJ7/Pz4"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": true,
          "data": {
            "created_at": 1483050364666,
            "application_id": 107224,
            "items": [],
            "status": "open",
            "user_id": 107227,
            "id": 107232,
            "items_total": 0,
            "total": 0,
            "total_weight": 0
          }
        }
  recorded_at: Sun, 07 May 2017 19:02:08 GMT
[...]
- request:
    method: put
    uri: http://api.marketcloud.it/v0/carts/107232
    body:
      encoding: UTF-8
      string: '{"user_id":107227,"items":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:w9WbIEciHkHGFLgQlxureZ2EpxJcO6c2/LdMOV7agFQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d2-NYoe/IIfnlGZr7kjFs14XLALt0Y"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": true,
          "data": {
            "created_at": 1483050364666,
            "items": [],
            "status": "open",
            "user_id": 107227,
            "id": 107232,
            "items_total": 0,
            "total": 0,
            "total_weight": 0
          }
        }
  recorded_at: Sun, 07 May 2017 19:02:09 GMT
recorded_with: VCR 3.0.3
