---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"MwsMfl0PIe/wjwvtOKXYcafbwsLK/Maa7Bga46uTk1E=","timestamp":1483050812}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-o/CdWB7CVw/AKCA3C5U9ZQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"WhEyFBJ2aL4trs18LGm24+HYSeIACt1c45mlPA1IPyk="}'
  recorded_at: Thu, 29 Dec 2016 22:33:32 GMT
- request:
    method: patch
    uri: http://api.marketcloud.it/v0/carts/107232
    body:
      encoding: UTF-8
      string: '{"op":"add","items":[{"product_id":107226,"quantity":2}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:WhEyFBJ2aL4trs18LGm24+HYSeIACt1c45mlPA1IPyk=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e9-S3CTDZ0smXAyz+xaQKrUnA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"items":[{"price":99.99,"name":"Pentola","description":"<p>Una
        bellissima pentola<br/></p>","images":["https://shop.coalca.it/spree/products/327/product/0500070.jpg?1480023556"],"media":[],"published":true,"type":"simple_product","slug":"pentola","category_id":107225,"requires_shipping":true,"weight":3,"depth":50,"width":50,"height":10,"id":107226,"product_id":107226,"variant_id":0,"quantity":4}],"id":107232,"user_id":107227,"items_total":399.96,"total":399.96}}'
  recorded_at: Thu, 29 Dec 2016 22:33:33 GMT
recorded_with: VCR 3.0.3
