---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"Z9fCCMAyCI0ZtfeTL7ZEQf1r4UJW5GCgScgsZj77+HI=","timestamp":1483309016}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-8I3W8uRYTm3T3u2fXH7nEg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"hoNF1oz92f45yj1H6lMBcsfG6S7MVTUktM6a5fmyLwM="}'
  recorded_at: Sun, 01 Jan 2017 22:16:56 GMT
- request:
    method: post
    uri: http://api.marketcloud.it//v0/carts
    body:
      encoding: UTF-8
      string: '{"user_id":107237,"items":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:hoNF1oz92f45yj1H6lMBcsfG6S7MVTUktM6a5fmyLwM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d-fFvZTLfV6ajy6MCOJaI0kw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"created_at":1483309016294,"application_id":107224,"items":[],"status":"open","user_id":107237,"id":107729,"items_total":0,"total":0}}'
  recorded_at: Sun, 01 Jan 2017 22:16:56 GMT
recorded_with: VCR 3.0.3
