---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"/H7Q+eJDQrPetfvW5r62VlA0NpnS9RHD1IRfLgfbbyQ=","timestamp":1483487485}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-p/mbxasiAefFVlHdq8F2Iw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"5R4bAiGE77KQxpffn3/GJEOMi74tPhfvrwFTjBcS8ww="}'
  recorded_at: Tue, 03 Jan 2017 23:51:25 GMT
- request:
    method: patch
    uri: http://api.marketcloud.it/v0/carts/108132
    body:
      encoding: UTF-8
      string: '{"op":"add","items":[{"product_id":107226,"quantity":2}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:5R4bAiGE77KQxpffn3/GJEOMi74tPhfvrwFTjBcS8ww=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"203-5f1DHnagQWh1tOC+TGK3eQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"items":[{"price":99.99,"name":"Pentola","description":"<p>Una
        bellissima pentola<br/></p>","images":["https://shop.coalca.it/spree/products/327/product/0500070.jpg?1480023556"],"media":[],"published":true,"type":"simple_product","slug":"pentola","category_id":107588,"requires_shipping":true,"weight":3,"depth":50,"width":50,"height":10,"id":107226,"product_id":107226,"variant_id":0,"display_price":"99.99
        EUR","quantity":2}],"id":108132,"user_id":null,"items_total":199.98,"total":199.98}}'
  recorded_at: Tue, 03 Jan 2017 23:51:25 GMT
recorded_with: VCR 3.0.3
