---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"FHeHs9pVYML38NVcVU8SPRzxxrozLnLK6M08Zp7MwfI=","timestamp":1483487771}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-03XRPbuaV7XNo0CzEt4uTg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"EaU99N13j6u5M517/znUUvryWqG/RfsualIWsVw5Tz0="}'
  recorded_at: Tue, 03 Jan 2017 23:56:11 GMT
- request:
    method: patch
    uri: http://api.marketcloud.it/v0/carts/108137
    body:
      encoding: UTF-8
      string: '{"op":"remove","items":[{"product_id":107226}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:EaU99N13j6u5M517/znUUvryWqG/RfsualIWsVw5Tz0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"58-4yCZSplCZrs3Y8RjMgBG6Q"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"items":[],"id":108137,"user_id":null,"items_total":0,"total":0}}'
  recorded_at: Tue, 03 Jan 2017 23:56:12 GMT
recorded_with: VCR 3.0.3
