---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"/H7Q+eJDQrPetfvW5r62VlA0NpnS9RHD1IRfLgfbbyQ=","timestamp":1483487485}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-ZLgLF8I1Fs7CsIsEbYiU9w"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"0xOoUZ5gEeHHrvnR7H7VjXugKMoe12AghP6Rso8CRsU="}'
  recorded_at: Tue, 03 Jan 2017 23:51:25 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/carts
    body:
      encoding: UTF-8
      string: '{"user_id":null,"items":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:0xOoUZ5gEeHHrvnR7H7VjXugKMoe12AghP6Rso8CRsU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9b-Hq2zZYH9l96eWi0usBB75A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"created_at":1483487485875,"application_id":107224,"items":[],"status":"open","user_id":null,"id":108133,"items_total":0,"total":0}}'
  recorded_at: Tue, 03 Jan 2017 23:51:26 GMT
recorded_with: VCR 3.0.3
