---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"Z9fCCMAyCI0ZtfeTL7ZEQf1r4UJW5GCgScgsZj77+HI=","timestamp":1483309016}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-gKLP4ipfEXMGq9dBE2qjWg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"JFVtl2/k6WhuhvBbH2PmVTg0u22EivLC7zCfj2eG2Dg="}'
  recorded_at: Sun, 01 Jan 2017 22:16:56 GMT
- request:
    method: post
    uri: http://api.marketcloud.it//v0/carts
    body:
      encoding: UTF-8
      string: '{"user_id":null,"items":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:JFVtl2/k6WhuhvBbH2PmVTg0u22EivLC7zCfj2eG2Dg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9b-6Rm3eecZVhkHINfjFeSrdA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"created_at":1483309016671,"application_id":107224,"items":[],"status":"open","user_id":null,"id":107730,"items_total":0,"total":0}}'
  recorded_at: Sun, 01 Jan 2017 22:16:57 GMT
recorded_with: VCR 3.0.3
