---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"HAC+TNV2dbGJZBe3JQlz+AzdCHPh6ipUxZXfBtSip5Y=","timestamp":1483487566}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-BQLE8ZoyCFIdtT2ZyJ6DGQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"VTuWZHelz2LVsAS/TGdxo+OqF6WIOFQQYTuxRWRoAh8="}'
  recorded_at: Tue, 03 Jan 2017 23:52:46 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/carts
    body:
      encoding: UTF-8
      string: '{"user_id":null,"items":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:VTuWZHelz2LVsAS/TGdxo+OqF6WIOFQQYTuxRWRoAh8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9b-ql56NlSirHPkVAs1+dSfuw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"created_at":1483487566548,"application_id":107224,"items":[],"status":"open","user_id":null,"id":108137,"items_total":0,"total":0}}'
  recorded_at: Tue, 03 Jan 2017 23:52:46 GMT
[...]
- request:
    method: patch
    uri: http://api.marketcloud.it/v0/carts/108137
    body:
      encoding: UTF-8
      string: '{"op":"add","items":[{"product_id":107226,"quantity":2}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:gbOmjqiH7e4g7JqPuzebd1wVyTPCq9bOYEu62c0kmAk=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"203-5U0AkYjiQnpcACzvPvegZA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"items":[{"price":99.99,"name":"Pentola","description":"<p>Una
        bellissima pentola<br/></p>","images":["https://shop.coalca.it/spree/products/327/product/0500070.jpg?1480023556"],"media":[],"published":true,"type":"simple_product","slug":"pentola","category_id":107588,"requires_shipping":true,"weight":3,"depth":50,"width":50,"height":10,"id":107226,"product_id":107226,"variant_id":0,"display_price":"99.99
        EUR","quantity":2}],"id":108137,"user_id":null,"items_total":199.98,"total":199.98}}'
  recorded_at: Tue, 03 Jan 2017 23:52:47 GMT
recorded_with: VCR 3.0.3
