---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"623pshIGiQnAE6RBUddhELIXELq7bQ6Ur3y2WJmhUe8=","timestamp":1483050810}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-gSYwAVPLo2EjZUUpBr9Hxg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"Sk7IAKmF/iWyN2CFD2plhHb4wx6b3FxD1r2RzOugTP4="}'
  recorded_at: Thu, 29 Dec 2016 22:33:31 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/carts/107232
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:Sk7IAKmF/iWyN2CFD2plhHb4wx6b3FxD1r2RzOugTP4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d-Wb7gvF7/7/U74FHR3Ue3xQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"created_at":1483050364666,"application_id":107224,"items":[],"status":"open","user_id":107227,"id":107232,"items_total":0,"total":0}}'
  recorded_at: Thu, 29 Dec 2016 22:33:31 GMT
recorded_with: VCR 3.0.3
