---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"06uqYq36NGFl+srV638bxxAiMnWdJ6wG2mjFhxp0Vs8=","timestamp":1483355477}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-6bOYIqDWsotT1XLG0WmYPA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"ukzggrmxZsgXDHGn8PffKgEJlFpzQwIX2dV5nqJiHJw="}'
  recorded_at: Mon, 02 Jan 2017 11:11:17 GMT
- request:
    method: post
    uri: http://api.marketcloud.it//v0/carts
    body:
      encoding: UTF-8
      string: '{"user_id":null,"items":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:ukzggrmxZsgXDHGn8PffKgEJlFpzQwIX2dV5nqJiHJw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9b-jkuMKQ4hqj8L48Y4kwFyEA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"created_at":1483355477443,"application_id":107224,"items":[],"status":"open","user_id":null,"id":107806,"items_total":0,"total":0}}'
  recorded_at: Mon, 02 Jan 2017 11:11:17 GMT
recorded_with: VCR 3.0.3
