---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"kk9U8eJUxiXFumgJ1+HKu4w37y3dabciOIE4Qg8DDGI=","timestamp":1483051136}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-LXZqfkmgsLN6GzynrG8PoA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"U47oqk8xMYNvf3hmlTd5Defcco/z8A9fePlSD0xPQxQ="}'
  recorded_at: Thu, 29 Dec 2016 22:38:56 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/users/authenticate
    body:
      encoding: UTF-8
      string: '{"email":"prova2@prova.it","password":"provapw"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:U47oqk8xMYNvf3hmlTd5Defcco/z8A9fePlSD0xPQxQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7e-K4RSWrRaUVIa9AsZXfvU0A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"token":"pOpe1fMWnhqBNpbbBIAP3kjSj1wFUUz7wXGLVMZAT0M=","user":{"id":107237,"email":"prova2@prova.it"}}}'
  recorded_at: Thu, 29 Dec 2016 22:38:56 GMT
[...]
- request:
    method: post
    uri: http://api.marketcloud.it/v0/carts
    body:
      encoding: UTF-8
      string: '{"user_id":107237,"items":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:UF8YQg/7FJjUx7jTSvmMTWdwQE5CVJLVo7LiICi7IbA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d-dZh/OveEZm8dfRakK3OXaw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"created_at":1483051136481,"application_id":107224,"items":[],"status":"open","user_id":107237,"id":107240,"items_total":0,"total":0}}'
  recorded_at: Thu, 29 Dec 2016 22:38:56 GMT
recorded_with: VCR 3.0.3
