---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"w/Py2yPD1r1NTuOQJmq4wCyKqtRXNTaNO8b7XeI1xEo=","timestamp":1483487482}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-P/1fKjx3PJW4LclopCujhA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"oo5VDoM3QZ5jv/ysLeFfInvmLIL3sdzyh1MM65ZXedI="}'
  recorded_at: Tue, 03 Jan 2017 23:51:22 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/users?email=prova2@prova.it
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:oo5VDoM3QZ5jv/ysLeFfInvmLIL3sdzyh1MM65ZXedI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"102-hW6aiJcKErA4/1TMF4CBwQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"email":"prova2@prova.it","name":"prova","created_at":"2016-12-29T22:33:39.341Z","id":107237,"registered_with":"marketcloud"}],"_links":{"curr":"http://api.marketcloud.it/v0/users?email=prova2@prova.it&"},"count":1,"page":1,"pages":1}'
  recorded_at: Tue, 03 Jan 2017 23:51:22 GMT
[...]
- request:
    method: get
    uri: http://api.marketcloud.it/v0/carts?user_id=107237
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:JHZzj/D9aSvJOYM4LSRka0CWgVhjhXnxg9qfi9Cd8mU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"15f-VwNrWkV7OeUXv20oA3xcPA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"created_at":1483309016294,"application_id":107224,"items":[],"status":"open","user_id":107237,"id":107729},{"created_at":1483115764854,"application_id":107224,"items":[],"status":"open","user_id":107237,"id":107366},{"created_at":1483051136481,"application_id":107224,"items":[],"status":"open","user_id":107237,"id":107240}]}'
  recorded_at: Tue, 03 Jan 2017 23:51:23 GMT
recorded_with: VCR 3.0.3
