---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"a0d35ddd-a510-41be-b476-c1457753afcc","secretKey":"rziey99IxtUzbVdnN4U0wiCbW52n+7id1ZNbe0axSZM=","timestamp":1482917345}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-/9tHI8NYvb1M/xuiHEs1tw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"ScXRQmYm8neLGbFPWC2S7Ry05j16QTl7tsfuTyE4MTQ="}'
  recorded_at: Wed, 28 Dec 2016 09:29:06 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/carts/106825
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc:ScXRQmYm8neLGbFPWC2S7Ry05j16QTl7tsfuTyE4MTQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e7-6bFdeG6MhRYxtWud961j+g"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"created_at":1482840426014,"application_id":11736,"items":[{"price":59.99,"name":"Padella","description":"<p>Un
        padella bellissima<br/></p>","images":[],"media":[],"published":false,"type":"simple_product","slug":"padella","category_id":105362,"sku":"34532412312412","id":105688,"product_id":105688,"variant_id":0,"display_price":"59.99
        EUR","requires_shipping":true,"quantity":2}],"status":"open","user_id":105690,"id":106825,"items_total":119.98,"total":119.98}}'
  recorded_at: Wed, 28 Dec 2016 09:29:06 GMT
[...]
- request:
    method: patch
    uri: http://api.marketcloud.it/v0/carts/106825
    body:
      encoding: UTF-8
      string: '{"op":"update","items":[{"product_id":105688,"quantity":2}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc:KQLEWLHKyFcF+V+n22p1zQpPN985D/yBp3Lt8eYqshs=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a5-4py08n7/v/1LA89cgC2mLw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"items":[{"price":59.99,"name":"Padella","description":"<p>Un
        padella bellissima<br/></p>","images":[],"media":[],"published":false,"type":"simple_product","slug":"padella","category_id":105362,"sku":"34532412312412","id":105688,"product_id":105688,"variant_id":0,"display_price":"59.99
        EUR","requires_shipping":true,"quantity":2}],"id":106825,"user_id":105690,"items_total":119.98,"total":119.98}}'
  recorded_at: Wed, 28 Dec 2016 09:29:07 GMT
recorded_with: VCR 3.0.3
