---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"MwsMfl0PIe/wjwvtOKXYcafbwsLK/Maa7Bga46uTk1E=","timestamp":1483050812}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-1tDTbJvxbaD2JhH+KwiCqg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"mnFuv1YSBhyJuSveJ60Cjy5i6GvgXhZDIOFWNhvGMEA="}'
  recorded_at: Thu, 29 Dec 2016 22:33:32 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/carts/107232
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:mnFuv1YSBhyJuSveJ60Cjy5i6GvgXhZDIOFWNhvGMEA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"22c-3hGBrkVeHAhe+XHk3QP8Og"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"created_at":1483050364666,"application_id":107224,"items":[{"price":99.99,"name":"Pentola","description":"<p>Una
        bellissima pentola<br/></p>","images":["https://shop.coalca.it/spree/products/327/product/0500070.jpg?1480023556"],"media":[],"published":true,"type":"simple_product","slug":"pentola","category_id":107225,"requires_shipping":true,"weight":3,"depth":50,"width":50,"height":10,"id":107226,"product_id":107226,"variant_id":0,"quantity":2}],"status":"open","user_id":107227,"id":107232,"items_total":199.98,"total":199.98}}'
  recorded_at: Thu, 29 Dec 2016 22:33:32 GMT
recorded_with: VCR 3.0.3
