---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"GT+X0FdUud0O263b7ceD0ovUj/0gxYkgBUms8fz3UEw=","timestamp":1483487486}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-HQZUQzoImDp1t73CBQSCfA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"aMC0prYVxPWn4BLoQg30fEiy6230VXE0nVmPh4puiZk="}'
  recorded_at: Tue, 03 Jan 2017 23:51:26 GMT
- request:
    method: patch
    uri: http://api.marketcloud.it/v0/carts/108133
    body:
      encoding: UTF-8
      string: '{"op":"add","items":[{"product_id":107226,"quantity":2}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:aMC0prYVxPWn4BLoQg30fEiy6230VXE0nVmPh4puiZk=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"203-eQuc1bygCf1qLMeF1v5hGw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"items":[{"price":99.99,"name":"Pentola","description":"<p>Una
        bellissima pentola<br/></p>","images":["https://shop.coalca.it/spree/products/327/product/0500070.jpg?1480023556"],"media":[],"published":true,"type":"simple_product","slug":"pentola","category_id":107588,"requires_shipping":true,"weight":3,"depth":50,"width":50,"height":10,"id":107226,"product_id":107226,"variant_id":0,"display_price":"99.99
        EUR","quantity":2}],"id":108133,"user_id":null,"items_total":199.98,"total":199.98}}'
  recorded_at: Tue, 03 Jan 2017 23:51:26 GMT
recorded_with: VCR 3.0.3
