---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"a0d35ddd-a510-41be-b476-c1457753afcc","secretKey":"zX+pR/h4mzabejWx9BQTpmxM+QdxPMBrk3WfP9BZxdo=","timestamp":1482917347}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-dYRPLFKOnlw4goswFn3iGg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"bzxjYDd1SDFQydjip/M5/YQosjfgLdE4IOA/3KRBj0Y="}'
  recorded_at: Wed, 28 Dec 2016 09:29:08 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/users/authenticate
    body:
      encoding: UTF-8
      string: '{"email":"prova@prova.it","password":"provapw"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc:bzxjYDd1SDFQydjip/M5/YQosjfgLdE4IOA/3KRBj0Y=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7d-H/GJ+9wZw8/kjJPcVp375A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"token":"n8pBs/iMRKeJxyTxKYfKWJrPbxNw+OCdtV0dixGA+/k=","user":{"id":105690,"email":"prova@prova.it"}}}'
  recorded_at: Wed, 28 Dec 2016 09:29:08 GMT
[...]
- request:
    method: post
    uri: http://api.marketcloud.it/v0/carts
    body:
      encoding: UTF-8
      string: '{"user_id":105690,"items":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc:DY6YTNUnPkx3gOjC+gj3jch7LWu29oJx4FivOOa2ff4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9c-/I4T1naplkMr2ox7k8sIZQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"created_at":1482917350363,"application_id":11736,"items":[],"status":"open","user_id":105690,"id":106973,"items_total":0,"total":0}}'
  recorded_at: Wed, 28 Dec 2016 09:29:10 GMT
recorded_with: VCR 3.0.3
