---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"a0d35ddd-a510-41be-b476-c1457753afcc","secretKey":"l0gvX/1W+Orf9N5a0AUvLky2avAwiL1AuMwAoS28nGM=","timestamp":1482917341}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-qOGqpWj4kexPss2nDFz5Yw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"QfEpkLE6nyz3hCD+yeAkz1QDtzO6QqSRo7QJ7SAFKk8="}'
  recorded_at: Wed, 28 Dec 2016 09:29:01 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/users/authenticate
    body:
      encoding: UTF-8
      string: '{"email":"prova@prova.it","password":"provapw"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc:QfEpkLE6nyz3hCD+yeAkz1QDtzO6QqSRo7QJ7SAFKk8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7d-9IFJQUCBnS8Tm5IZOY7uEg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"token":"0/2u7XLqzCenhzy13yqM0wLaOwnidAxOCUerloclYFs=","user":{"id":105690,"email":"prova@prova.it"}}}'
  recorded_at: Wed, 28 Dec 2016 09:29:04 GMT
[...]
- request:
    method: get
    uri: http://api.marketcloud.it/v0/carts?user_id=105690
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc:f1/n4tfM/ZSMNwaI17HbnPX6dY+rzTpHD6IAPzgBRGc=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"520-Cii9vyo7ktenSzkgEHmvAw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"created_at":1482865767962,"application_id":11736,"items":[{"product_id":11744,"quantity":2,"variant_id":0,"price":925.11,"name":"Impastatrice
        a testa fissa","description":"<p>&#34;Impastatrice a testa fissa - costruzione
        in acciaio inox verniciato bianco -vasca, coper-chio, spirale e spacca pasta
        in acciaio AISI304&#34;</p>","images":["https://shop.coalca.it/spree/products/216/product/SK_10.jpg"],"variants":[],"is_master":true,"has_variants":false,"published":true,"sku":"0000778405199","stock_type":"infinite","variantsDefinition":{},"id":11744,"stock_level":null,"stock_status":null,"type":"simple_product","media":[],"display_price":"925.11
        EUR","category_id":104429,"requires_shipping":true}],"status":"closed","user_id":105690,"id":106866},{"created_at":1482856621686,"application_id":11736,"items":[],"status":"open","user_id":105690,"id":106854},{"created_at":1482840426014,"application_id":11736,"items":[{"product_id":105688,"quantity":2,"variant_id":0,"price":59.99,"name":"Padella","description":"<p>Un
        padella bellissima<br/></p>","images":[],"media":[],"published":false,"type":"simple_product","slug":"padella","category_id":105362,"sku":"34532412312412","id":105688,"display_price":"59.99
        EUR","requires_shipping":true}],"status":"open","user_id":105690,"id":106825}]}'
  recorded_at: Wed, 28 Dec 2016 09:29:05 GMT
recorded_with: VCR 3.0.3
