---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"rrcL5PShVc6kJIaGqckC20NT+PaqoFrke4MS2joLH+Q=","timestamp":1483355556}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-mhs4UyFMhEcd7WFjPth8DQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"rToW8w92Zen9hDn1gNuQESb7AzTu/ik7xg8piCUoWfw="}'
  recorded_at: Mon, 02 Jan 2017 11:12:37 GMT
- request:
    method: post
    uri: http://api.marketcloud.it//v0/carts
    body:
      encoding: UTF-8
      string: '{"user_id":null,"items":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:rToW8w92Zen9hDn1gNuQESb7AzTu/ik7xg8piCUoWfw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9b-L+rfX97CrE8c2DowZOktpQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"created_at":1483355558011,"application_id":107224,"items":[],"status":"open","user_id":null,"id":107808,"items_total":0,"total":0}}'
  recorded_at: Mon, 02 Jan 2017 11:12:38 GMT
[...]
- request:
    method: patch
    uri: http://api.marketcloud.it//v0/carts/107808
    body:
      encoding: UTF-8
      string: '{"op":"update","items":[{"product_id":107226,"quantity":2}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:pdVvHfuxlkA6UAwWy3NLl7QiWXv6FfIfF69GUjtxIMY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"203-mK9PBt8fx0jAXdd047dS+A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"items":[{"price":99.99,"name":"Pentola","description":"<p>Una
        bellissima pentola<br/></p>","images":["https://shop.coalca.it/spree/products/327/product/0500070.jpg?1480023556"],"media":[],"published":true,"type":"simple_product","slug":"pentola","category_id":107588,"requires_shipping":true,"weight":3,"depth":50,"width":50,"height":10,"id":107226,"product_id":107226,"variant_id":0,"display_price":"99.99
        EUR","quantity":2}],"id":107808,"user_id":null,"items_total":199.98,"total":199.98}}'
  recorded_at: Mon, 02 Jan 2017 11:12:42 GMT
recorded_with: VCR 3.0.3
