---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"cVnjBtitut95BB+O0PgwEExrW76pYj+sEHe6gledWjo=","timestamp":1483051235}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-thKo4n5+mfjuFCq9G3oKaw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"FIhLcq5zEy007qetELSvTzlz2EBkLCu6GiEfHSXZZ+8="}'
  recorded_at: Thu, 29 Dec 2016 22:40:35 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/users/authenticate
    body:
      encoding: UTF-8
      string: '{"email":"prova2@prova.it","password":"provapw"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:FIhLcq5zEy007qetELSvTzlz2EBkLCu6GiEfHSXZZ+8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7e-fa4nJAs8xfa/iEgxBZYafA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"token":"NDJqFYCCKbARaYbFl2MY3u/LQJ8cvD1QvoL6SWtdyf4=","user":{"id":107237,"email":"prova2@prova.it"}}}'
  recorded_at: Thu, 29 Dec 2016 22:40:36 GMT
[...]
- request:
    method: get
    uri: http://api.marketcloud.it/v0/carts?user_id=107237
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:8bKwxcdwk2TBslvQ45g7PA3q+OUDBHuQsLn9b52NA+k=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"85-Po5RInDKsUp/D1u7YXCyQQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"created_at":1483051136481,"application_id":107224,"items":[],"status":"open","user_id":107237,"id":107240}]}'
  recorded_at: Thu, 29 Dec 2016 22:40:36 GMT
recorded_with: VCR 3.0.3
