---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"a0d35ddd-a510-41be-b476-c1457753afcc","secretKey":"nPneqbgZd9jPfJUNzjlRJ1TuggrJamJHudI4n7TpBEI=","timestamp":1483030044}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-Jj/8How/iBIZOxsZwcr24w"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"6ntoLIjhrWKY7HrjfKR1iUbKGAGgEpVomr90RmZGjMo="}'
  recorded_at: Thu, 29 Dec 2016 16:47:24 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/carts/106825
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc:6ntoLIjhrWKY7HrjfKR1iUbKGAGgEpVomr90RmZGjMo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e7-GtDiY4Drfh6yGrdXDfr66Q"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"created_at":1482840426014,"application_id":11736,"items":[{"price":59.99,"name":"Padella","description":"<p>Un
        padella bellissima<br/></p>","images":[],"media":[],"published":false,"type":"simple_product","slug":"padella","category_id":105362,"sku":"34532412312412","id":105688,"product_id":105688,"variant_id":0,"display_price":"59.99
        EUR","requires_shipping":true,"quantity":6}],"status":"open","user_id":105690,"id":106825,"items_total":359.94,"total":359.94}}'
  recorded_at: Thu, 29 Dec 2016 16:47:24 GMT
recorded_with: VCR 3.0.3
