---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"ROE1UWNb0TYC4m5fUd18VR+kred3LTAfKsV0yu6fk28=","timestamp":1483487483}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-OXKJ5fbFnlQQ4Ht2vH/E1w"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"vWqEJFKGSNTfJVTtyDHCRoCL70ayCquPav01rORWWKc="}'
  recorded_at: Tue, 03 Jan 2017 23:51:23 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/carts/107232
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:vWqEJFKGSNTfJVTtyDHCRoCL70ayCquPav01rORWWKc=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"25e-pIuQ0dtc+cD+3iap14iA7w"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"created_at":1483050364666,"application_id":107224,"items":[{"price":99.99,"name":"Pentola","description":"<p>Una
        bellissima pentola<br/></p>","images":["https://shop.coalca.it/spree/products/327/product/0500070.jpg?1480023556"],"media":[],"published":true,"type":"simple_product","slug":"pentola","category_id":107588,"requires_shipping":true,"weight":3,"depth":50,"width":50,"height":10,"id":107226,"product_id":107226,"variant_id":0,"display_price":"99.99
        EUR","quantity":6}],"status":"open","user_id":107227,"id":107232,"items_total":599.9399999999999,"total":599.9399999999999}}'
  recorded_at: Tue, 03 Jan 2017 23:51:23 GMT
recorded_with: VCR 3.0.3
