---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"7j0SHW/qIlbE4vtYaNdo6FSs8U8A15EA/5sMJ8LLl5g=","timestamp":1483115057}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-VHOvyXGJc1jRO8lQFx3YUQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"sBETu15EHlBlaQYqtVphlEMX4mvG0vI5F/1bepJOioY="}'
  recorded_at: Fri, 30 Dec 2016 16:24:17 GMT
- request:
    method: patch
    uri: http://api.marketcloud.it/v0/carts/107232
    body:
      encoding: UTF-8
      string: '{"op":"add","items":[{"product_id":107226,"quantity":2}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:sBETu15EHlBlaQYqtVphlEMX4mvG0vI5F/1bepJOioY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e9-S3CTDZ0smXAyz+xaQKrUnA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"items":[{"price":99.99,"name":"Pentola","description":"<p>Una
        bellissima pentola<br/></p>","images":["https://shop.coalca.it/spree/products/327/product/0500070.jpg?1480023556"],"media":[],"published":true,"type":"simple_product","slug":"pentola","category_id":107225,"requires_shipping":true,"weight":3,"depth":50,"width":50,"height":10,"id":107226,"product_id":107226,"variant_id":0,"quantity":4}],"id":107232,"user_id":107227,"items_total":399.96,"total":399.96}}'
  recorded_at: Fri, 30 Dec 2016 16:24:17 GMT
recorded_with: VCR 3.0.3
