---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"BRliCzPoBSNQpl3kw1UUTtE+XN5yxUfqD+RGSC+GzOU=","timestamp":1483115764}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-LwYRvgdxC7GLF9RMmOVIrg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"MFGLmmcxowV7UA+p4KX6BzJ5CuUWJBZr5tsGztCx2bw="}'
  recorded_at: Fri, 30 Dec 2016 16:36:05 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/users?email=prova2@prova.it
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:MFGLmmcxowV7UA+p4KX6BzJ5CuUWJBZr5tsGztCx2bw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"102-hW6aiJcKErA4/1TMF4CBwQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"email":"prova2@prova.it","name":"prova","created_at":"2016-12-29T22:33:39.341Z","id":107237,"registered_with":"marketcloud"}],"_links":{"curr":"http://api.marketcloud.it/v0/users?email=prova2@prova.it&"},"count":1,"page":1,"pages":1}'
  recorded_at: Fri, 30 Dec 2016 16:36:05 GMT
[...]
- request:
    method: post
    uri: http://api.marketcloud.it/v0/carts
    body:
      encoding: UTF-8
      string: '{"user_id":107237,"items":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:jqTPYDv1zXPUbAHJm0N7WVL6q8bKip1reaahKYhimFs=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d-smFRJPlZQf6011rs93PSOQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"created_at":1483115764854,"application_id":107224,"items":[],"status":"open","user_id":107237,"id":107366,"items_total":0,"total":0}}'
  recorded_at: Fri, 30 Dec 2016 16:36:05 GMT
recorded_with: VCR 3.0.3
