---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"yuSKd3+ipZ5vvlscsImAQ4pHKoTmEdgD6TmiQIR7ZCg=","timestamp":1483487488}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-XJjjSnWsXXaEHrrH3IhHlQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"AKA8vZtIrhlczZnKlYdST9Vqck70BeIBcxDiJBWId7U="}'
  recorded_at: Tue, 03 Jan 2017 23:51:28 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/carts
    body:
      encoding: UTF-8
      string: '{"user_id":null,"items":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:AKA8vZtIrhlczZnKlYdST9Vqck70BeIBcxDiJBWId7U=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9b-6PZcsHvy14cPntrSt6+Hmw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"created_at":1483487488145,"application_id":107224,"items":[],"status":"open","user_id":null,"id":108136,"items_total":0,"total":0}}'
  recorded_at: Tue, 03 Jan 2017 23:51:28 GMT
recorded_with: VCR 3.0.3
