---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"WV7wNjOyccz59VTj5sCLT2/qee3Qxa1g4f0AifaGILc=","timestamp":1483115055}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-Oqetf/slJhudEhUxWTq9zQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"oIQLF7DNCtxIOKhL5UYAkPkzU/authmVAwfl/AWrCT4="}'
  recorded_at: Fri, 30 Dec 2016 16:24:15 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/carts/107232
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:oIQLF7DNCtxIOKhL5UYAkPkzU/authmVAwfl/AWrCT4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"22c-5TB64Roja2zmOc18eLtuaw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"created_at":1483050364666,"application_id":107224,"items":[{"price":99.99,"name":"Pentola","description":"<p>Una
        bellissima pentola<br/></p>","images":["https://shop.coalca.it/spree/products/327/product/0500070.jpg?1480023556"],"media":[],"published":true,"type":"simple_product","slug":"pentola","category_id":107225,"requires_shipping":true,"weight":3,"depth":50,"width":50,"height":10,"id":107226,"product_id":107226,"variant_id":0,"quantity":4}],"status":"open","user_id":107227,"id":107232,"items_total":399.96,"total":399.96}}'
  recorded_at: Fri, 30 Dec 2016 16:24:16 GMT
recorded_with: VCR 3.0.3
