---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"a1tHaNyo2kPmuOe9+ix1n3BvtADzn5WMRrDf3krVAoc=","timestamp":1486909650}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-/Z64m8X1VhuzbRK4oSJuYQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"SGxfCckd76wECBJLSUUGZAqMLUlDIcyEdNoZ6dfTz2w="}'
  recorded_at: Sun, 12 Feb 2017 14:27:30 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/categories/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:SGxfCckd76wECBJLSUUGZAqMLUlDIcyEdNoZ6dfTz2w=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"60-7IS1e1OgGhZc3E4MKLQyrQ"
    body:
      encoding: UTF-8
      string: '{"status":false,"errors":[{"code":404,"message":"Unable to find category
        1","type":"NotFound"}]}'
  recorded_at: Sun, 12 Feb 2017 14:27:31 GMT
recorded_with: VCR 3.0.3
