---
http_interactions:
- request:
    method: get
    uri: http://api.marketcloud.it/v0/categories/104429
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b7-OxOoFtZkscP6HvmG/kXSDQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"id":104429,"name":"Per impastare","description":null,"image_url":null,"url":null,"parent_id":104428,"path":"/Macchinari/Per
        impastare","application_id":11736}}'
  recorded_at: Wed, 28 Dec 2016 09:29:11 GMT
recorded_with: VCR 3.0.3
