---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"LIgznrSxu5uktbcv5U8KeRc//OCT8PQbFOmezHdlce0=","timestamp":1486909649}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-Y1t+JVfv0SYHeW3SPk/IDw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"NdsQDI+rTY0wwJYoRFzTFdXUCFoD1tYatbKxsh1I9NA="}'
  recorded_at: Sun, 12 Feb 2017 14:27:30 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/categories/107225
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:NdsQDI+rTY0wwJYoRFzTFdXUCFoD1tYatbKxsh1I9NA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"114-G0woGucKQyVfuJzZnBbClg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"_id":"589c561782e60e7bea6bc85d","id":107225,"name":"Minuteria","description":null,"image_url":null,"url":null,"parent_id":null,"application_id":107224,"created_at":"2016-12-29T21:09:20.000Z","updated_at":"2016-12-29T21:09:20.000Z","path":"/Minuteria"}}'
  recorded_at: Sun, 12 Feb 2017 14:27:30 GMT
recorded_with: VCR 3.0.3
