---
http_interactions:
- request:
    method: get
    uri: http://api.marketcloud.it/v0/categories/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"50-Z15ALGNUADZPwOXPXYCs3Q"
    body:
      encoding: UTF-8
      string: '{"status":false,"errors":[{"code":404,"message":"Not found","type":"NotFound"}]}'
  recorded_at: Wed, 28 Dec 2016 09:29:12 GMT
recorded_with: VCR 3.0.3
