---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"D86SYcgwkOJBznzTUbQ6WQ5Kl2hat3NYB7bUW0lQleI=","timestamp":1488407851}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b3-GxW6SKBQO4OuDoNTrbGLfA"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": true,
          "token": "ZW5fuHLH6zgTy/flaGnTyMmf31bkb1DYyuSn/nGC+70=",
          "data": {
            "token": "ZW5fuHLH6zgTy/flaGnTyMmf31bkb1DYyuSn/nGC+70=",
            "access": "admin"
          }
        }
  recorded_at: Wed, 01 Mar 2017 22:37:32 GMT
- request:
    method: put
    uri: http://api.marketcloud.it/v0/categories/132170
    body:
      encoding: UTF-8
      string: '{"name":"a category","description":"With an updated name"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:ZW5fuHLH6zgTy/flaGnTyMmf31bkb1DYyuSn/nGC+70=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"111-XNc47uX33JiK/7ma3Ucw4g"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": true,
          "data": {
            "_id": "58aa126fabd09e22a8ddc471",
            "name": "a category",
            "description": "With an updated name",
            "id": 132170,
            "application_id": 107224,
            "images": [],
            "parent_id": 107589,
            "path": "/Macchinari/a category"
          }
        }
  recorded_at: Wed, 01 Mar 2017 22:37:32 GMT
recorded_with: VCR 3.0.3
