---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"HD7jq1RBSLdSNoXk3Kxn+ikQbVwo9xz4qQw9Wbye/Wo=","timestamp":1486900734}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-kbSabWdeTf7rQ++47mTEAw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"KXe//n9Mr8bfZC1YGIfscT2GYsNJXZNYOFVuvW87FZ8="}'
  recorded_at: Sun, 12 Feb 2017 11:58:54 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/categories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:KXe//n9Mr8bfZC1YGIfscT2GYsNJXZNYOFVuvW87FZ8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"545-pjCLeOdnMtSz8PMWMdMS8A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"name":"Neutro","description":"Tanti accessori
        utili per lavorare meglio.","id":128660},{"id":108307,"name":"Abbattitori","description":"Abbattitori
        professionali","image_url":null,"url":null,"parent_id":107589,"created_at":"2017-01-04T17:30:06.000Z","updated_at":"2017-01-04T17:30:06.000Z","path":"/Macchinari/Abbattitori"},{"id":107590,"name":"Lavastoviglie","description":"Lavastoviglie
        e lavabicchieri professionali","image_url":null,"url":null,"parent_id":107589,"created_at":"2016-12-31T10:30:27.000Z","updated_at":"2016-12-31T10:30:27.000Z","path":"/Macchinari/Lavastoviglie"},{"id":107589,"name":"Macchinari","description":"Macchinari
        professionali","image_url":null,"url":null,"parent_id":null,"created_at":"2016-12-31T10:30:04.000Z","updated_at":"2016-12-31T10:30:04.000Z","path":"/Macchinari"},{"id":107588,"name":"Pentole","description":"Pentole
        e padelle molto belle","image_url":null,"url":null,"parent_id":107225,"created_at":"2016-12-31T10:29:47.000Z","updated_at":"2016-12-31T10:29:47.000Z","path":"/Minuteria/Pentole"},{"id":107225,"name":"Minuteria","description":null,"image_url":null,"url":null,"parent_id":null,"created_at":"2016-12-29T21:09:20.000Z","updated_at":"2016-12-29T21:09:20.000Z","path":"/Minuteria"}],"_links":{"curr":"http://api.marketcloud.it/v0/categories?"},"count":6,"page":1,"pages":1}'
  recorded_at: Sun, 12 Feb 2017 11:58:54 GMT
recorded_with: VCR 3.0.3
