---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"xdbZ/FDtpyXxYhyg/PTcoHgDppcY0Yxyycqxka59hTo=","timestamp":1483309017}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-zCqmLib4+vSD0i7MBcbZAQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"j6wDoC7wbARsI0CrsAVKqFIVhFsldf4+7sCeN6dJbd8="}'
  recorded_at: Sun, 01 Jan 2017 22:16:57 GMT
- request:
    method: get
    uri: http://api.marketcloud.it//v0/categories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:j6wDoC7wbARsI0CrsAVKqFIVhFsldf4+7sCeN6dJbd8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"31f-5VH4ljPLUveOD2zCp4MKbQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"id":107590,"name":"Lavastoviglie","description":"Lavastoviglie
        e lavabicchieri professionali","image_url":null,"url":null,"parent_id":107589,"path":"/Macchinari/Lavastoviglie","application_id":107224},{"id":107589,"name":"Macchinari","description":"Macchinari
        professionali","image_url":null,"url":null,"parent_id":null,"path":"/Macchinari","application_id":107224},{"id":107588,"name":"Pentole","description":"Pentole
        e padelle molto belle","image_url":null,"url":null,"parent_id":107225,"path":"/Minuteria/Pentole","application_id":107224},{"id":107225,"name":"Minuteria","description":null,"image_url":null,"url":null,"parent_id":null,"path":"/Minuteria","application_id":107224}],"_links":{"curr":"http://api.marketcloud.it/v0/categories?"},"count":4,"page":1,"pages":1}'
  recorded_at: Sun, 01 Jan 2017 22:16:57 GMT
recorded_with: VCR 3.0.3
