---
http_interactions:
- request:
    method: get
    uri: http://api.marketcloud.it/v0/categories/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"50-Z15ALGNUADZPwOXPXYCs3Q"
    body:
      encoding: UTF-8
      string: '{"status":false,"errors":[{"code":404,"message":"Not found","type":"NotFound"}]}'
  recorded_at: Thu, 29 Dec 2016 22:33:34 GMT
recorded_with: VCR 3.0.3
