---
http_interactions:
- request:
    method: get
    uri: http://api.marketcloud.it/v0/categories/-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b-p/lJ9glVrjVnuNAy1iAcgw"
    body:
      encoding: UTF-8
      string: '{"status":false,"errors":[{"code":400,"type":"BadRequest","message":"id
        must be integer"}]}'
  recorded_at: Fri, 30 Dec 2016 16:24:18 GMT
recorded_with: VCR 3.0.3
