---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"0Ko53bOInsIexhYXG7FoG+z/XEu5ayBJGUpHfpVK+ao=","timestamp":1486900730}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-Bw1AIR2Y7bZ8BtTTznIm8w"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"9ScCz8jivdtq7dGq8JNoccuVqOXYjo31XHtaVt/d5JQ="}'
  recorded_at: Sun, 12 Feb 2017 11:58:50 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/categories/107225
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:9ScCz8jivdtq7dGq8JNoccuVqOXYjo31XHtaVt/d5JQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"114-G0woGucKQyVfuJzZnBbClg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"_id":"589c561782e60e7bea6bc85d","id":107225,"name":"Minuteria","description":null,"image_url":null,"url":null,"parent_id":null,"application_id":107224,"created_at":"2016-12-29T21:09:20.000Z","updated_at":"2016-12-29T21:09:20.000Z","path":"/Minuteria"}}'
  recorded_at: Sun, 12 Feb 2017 11:58:50 GMT
recorded_with: VCR 3.0.3
