---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"BblFE1JHQtEN+X4LYxs4CDu+HzfLbtWw3K05yb8Ui7c=","timestamp":1485282321}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-vrRYU4JZK70KZEvrBOiRYQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"90QUvpsOnGDjoHnzfZ2SXabhdAwKfbax4lPS0eRj5Qw="}'
  recorded_at: Tue, 24 Jan 2017 18:25:22 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/collections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:90QUvpsOnGDjoHnzfZ2SXabhdAwKfbax4lPS0eRj5Qw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e4-xNNHI3umkILtKRTaiFWLMg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"items":[{"product_id":107598}],"name":"Home
        page","description":"Products on display on homepage","id":114237}],"_links":{"curr":"http://api.marketcloud.it/v0/collections?"},"count":1,"page":1,"pages":1}'
  recorded_at: Tue, 24 Jan 2017 18:25:22 GMT
recorded_with: VCR 3.0.3
