---
http_interactions:
- request:
    method: get
    uri: http://api.marketcloud.it/v0/collections/-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c-ZuJjtANZvJY6FGbKJqYggw"
    body:
      encoding: UTF-8
      string: '{"status":false,"errors":[{"code":404,"message":"Unable to find collections
        with id -1","type":"NotFound"}]}'
  recorded_at: Tue, 24 Jan 2017 18:25:21 GMT
recorded_with: VCR 3.0.3
