---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"BnBiYgOWQ58749jVxbN83K+/VszpDhqTD3UAvd4KuVY=","timestamp":1486909642}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-pT7VEN9Qb3c0pRR+qpGn+g"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"8AAxooF5EeKFePhbZDiFTm00eGEk6yVXQUMgS7phb9E="}'
  recorded_at: Sun, 12 Feb 2017 14:27:23 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/collections/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:8AAxooF5EeKFePhbZDiFTm00eGEk6yVXQUMgS7phb9E=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6b-KJD3dRlhH2UN91IqFto1Xg"
    body:
      encoding: UTF-8
      string: '{"status":false,"errors":[{"code":404,"message":"Unable to find collections
        with id 1","type":"NotFound"}]}'
  recorded_at: Sun, 12 Feb 2017 14:27:23 GMT
recorded_with: VCR 3.0.3
