---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"KOMq3F8GlyL23wHRhAbartFjBACPaxce4NUFqagRRKU=","timestamp":1486909593}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-fwSDldnLfUf0mUxWCaJbDQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"vYVpUX5T9wwJpJMxCHNcCPFLp33BGm8i4C11HfjNSqY="}'
  recorded_at: Sun, 12 Feb 2017 14:26:33 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/collections/-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:vYVpUX5T9wwJpJMxCHNcCPFLp33BGm8i4C11HfjNSqY=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c-ZuJjtANZvJY6FGbKJqYggw"
    body:
      encoding: UTF-8
      string: '{"status":false,"errors":[{"code":404,"message":"Unable to find collections
        with id -1","type":"NotFound"}]}'
  recorded_at: Sun, 12 Feb 2017 14:26:36 GMT
recorded_with: VCR 3.0.3
