---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"REtAsoedgQ1jkQx0bNTfJd3RwgmkBeJ/+NuoxQRUQ6M=","timestamp":1483115059}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-3ruf/eWscA+htDrR8LuiOA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"/fGLTTzQyMwcdscF2tSV9sHELwBpDAaMKCt3PgBDZXM="}'
  recorded_at: Fri, 30 Dec 2016 16:24:19 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/coupons/107241
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:/fGLTTzQyMwcdscF2tSV9sHELwBpDAaMKCt3PgBDZXM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"101-jhv7m2mvjZ+wHR2YNc9Tfw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"_id":"58659143f0a1c8622c942862","code":"MINUTERIA5","name":"Minuteria
        a sconto","type":"total","target_type":"CART_COUPON","discount_type":"PERCENTAGE_REDUCTION","discount_value":5,"application_id":107224,"active":false,"id":107241}}'
  recorded_at: Fri, 30 Dec 2016 16:24:19 GMT
recorded_with: VCR 3.0.3
