---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"I2cPFCAT13Mbl8yumgvp28NPC3tWccqQB24RKLkcywo=","timestamp":1502028446}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d0-4yUWrO4DAtBNjbwoJnZkuknLeuM"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": true,
          "token": "QzAiD3xcIgCksfcOIh+ybjJGtWsee6/KIN3r9Z7hGm8=",
          "data": {
            "token": "QzAiD3xcIgCksfcOIh+ybjJGtWsee6/KIN3r9Z7hGm8=",
            "access": "admin",
            "expire": 1502042846832
          }
        }
  recorded_at: Sun, 06 Aug 2017 14:07:26 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/coupons?code=NONEXISTING
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:QzAiD3xcIgCksfcOIh+ybjJGtWsee6/KIN3r9Z7hGm8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a3-bjB2kWH8Jl+fVcZKjudcf1oQ5wo"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": true,
          "data": [],
          "_links": {
            "curr": "http://api.marketcloud.it/v0/coupons?code=NONEXISTING&"
          },
          "count": 0,
          "page": 1,
          "pages": 1
        }
  recorded_at: Sun, 06 Aug 2017 14:07:27 GMT
recorded_with: VCR 3.0.3
