---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"OGteVrd8oGHk/aBAXPwsNFBumpaUO5ThLC2BDCHN1H8=","timestamp":1500848206}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d0-9OA8xgrgzEEMJA3N+ZoJcJaZvFM"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": true,
          "token": "M3HjRnPoKS7vP0Pek7RmYA2czYj8U2ZUB+NOVf3f81o=",
          "data": {
            "token": "M3HjRnPoKS7vP0Pek7RmYA2czYj8U2ZUB+NOVf3f81o=",
            "access": "admin",
            "expire": 1500862604699
          }
        }
  recorded_at: Sun, 23 Jul 2017 22:16:46 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/coupons?code=FORNI5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:M3HjRnPoKS7vP0Pek7RmYA2czYj8U2ZUB+NOVf3f81o=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"202-jPZvKreiL7eGxNu7zF51yvkQflk"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": true,
          "data": [
            {
              "code": "FORNI5",
              "name": "Forni a sconto",
              "type": "total",
              "target_type": "CATEGORY_COUPON",
              "target_id": 137785,
              "discount_type": "PERCENTAGE_REDUCTION",
              "discount_value": 5,
              "application_id": 107224,
              "active": true,
              "id": 155682,
              "updated_at": "2017-07-23T22:10:07.651Z"
            }
          ],
          "_links": {
            "curr": "http://api.marketcloud.it/v0/coupons?code=FORNI5&"
          },
          "count": 1,
          "page": 1,
          "pages": 1
        }
  recorded_at: Sun, 23 Jul 2017 22:16:46 GMT
recorded_with: VCR 3.0.3
