---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"xdbZ/FDtpyXxYhyg/PTcoHgDppcY0Yxyycqxka59hTo=","timestamp":1483309017}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-yVgO2utEZcn57LChpVllwA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"/09jnM1T9OIKo7Oy4lq+pBfQde1PJ15o84JeKt8PfCo="}'
  recorded_at: Sun, 01 Jan 2017 22:16:57 GMT
- request:
    method: get
    uri: http://api.marketcloud.it//v0/coupons/107241
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:/09jnM1T9OIKo7Oy4lq+pBfQde1PJ15o84JeKt8PfCo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"101-jhv7m2mvjZ+wHR2YNc9Tfw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"_id":"58659143f0a1c8622c942862","code":"MINUTERIA5","name":"Minuteria
        a sconto","type":"total","target_type":"CART_COUPON","discount_type":"PERCENTAGE_REDUCTION","discount_value":5,"application_id":107224,"active":false,"id":107241}}'
  recorded_at: Sun, 01 Jan 2017 22:16:58 GMT
recorded_with: VCR 3.0.3
