---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"cF05x4qBNAbayZKEbnTbf4uBnDBAs31nMpQhU+d8Vqk=","timestamp":1487021310}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-w8rdNOO4/KuoCK0yyCRF/A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"d8R42RgxDJbLrovxSllKjHSsR8h2NhoEB8U339RFU7o="}'
  recorded_at: Mon, 13 Feb 2017 21:28:30 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/files/129677
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:d8R42RgxDJbLrovxSllKjHSsR8h2NhoEB8U339RFU7o=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"137-vAMZJ7FS4emJyxUs0rSPMw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"_id":"58a223a65be8ba20840d4fe9","mime_type":"image/jpeg","application_id":107224,"original_filename":"0000165407723.jpeg","name":"107224_0000165407723jpeg","url":"http://cdn.marketcloud.it/files/107224_0000165407723jpeg","size":64008,"created_at":"2017-02-13T21:22:46.307Z","id":129677}}'
  recorded_at: Mon, 13 Feb 2017 21:28:31 GMT
recorded_with: VCR 3.0.3
