---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"jahubUiuG3YwISTATy4o5rGNdRu6iIYfp+yX3JtyL6s=","timestamp":1483838801}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-W2j3ath7dQcKEMtQGsQE1Q"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"f9Q8R4C4QBmoJelzfqZhqaWvRmwfxrG7vi/5RwewfG4="}'
  recorded_at: Sun, 08 Jan 2017 01:26:41 GMT
- request:
    method: delete
    uri: http://api.marketcloud.it/v0/orders/108910
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:f9Q8R4C4QBmoJelzfqZhqaWvRmwfxrG7vi/5RwewfG4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f-KOwe7l9ASePE8hNQacHSyA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true}'
  recorded_at: Sun, 08 Jan 2017 01:26:41 GMT
recorded_with: VCR 3.0.3
