---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"TkRhbOrdUT79UgWe8/cVQxJqZsZTyJ2Ev7IZH7ZgQcE=","timestamp":1486908028}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-9tmZmN9MA3J5Dp5Sd47COw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"KcZ/9b2i547bmXAY21gbJhR+lILxSxuGWKRYgDgWJA0="}'
  recorded_at: Sun, 12 Feb 2017 14:00:29 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/orders/107236
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:KcZ/9b2i547bmXAY21gbJhR+lILxSxuGWKRYgDgWJA0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1191-9KWgiT3rsklUG2J9GKmDPw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"items":[{"product_id":107226,"quantity":2,"variant_id":0}],"shipping_address":{"full_name":"Pinco
        Pallo","id":107234,"user_id":107227,"address1":"Via Vittor Pisani 13","address2":null,"city":"Oslo","country":"Norway","postal_code":"20127","company":null,"phone_number":null,"alternate_phone_number":null,"email":"pinco@pallo.com","vat":null},"billing_address":{"full_name":"Pinco
        Pallo","id":107234,"user_id":107227,"address1":"Via Vittor Pisani 13","address2":null,"city":"Oslo","country":"Norway","postal_code":"20127","company":null,"phone_number":null,"alternate_phone_number":null,"email":"pinco@pallo.com","vat":null},"shipping":{"_id":"58658e4cf0a1c8622c942803","name":"DHL","base_cost":15,"per_item_cost":1,"zones":[{"name":"Italy","code":"IT"}],"id":107233,"application_id":107224},"user":{"name":"Pinco
        Pallo","created_at":"2016-12-29T22:10:50.905Z","registered_with":"marketcloud","email":"pinco@pallo.it","id":107227},"cart_id":107235,"shipping_id":107233,"user_id":107227,"products":[{"price":99.99,"name":"Pentola","description":"<p>Una
        bellissima pentola<br/></p>","images":["https://shop.coalca.it/spree/products/327/product/0500070.jpg?1480023556"],"media":[],"published":true,"type":"simple_product","slug":"pentola","category_id":107225,"requires_shipping":true,"weight":3,"depth":50,"width":50,"height":10,"id":107226,"quantity":2}],"items_total":199.98,"shipping_total":17,"taxes_total":47.74,"total":264.72,"created_at":1483050817091,"status":"processing","id":107236,"payment":{"method":"Braintree","created_at":1483810748337,"data":{"id":"fmg6070g","status":"authorized","type":"sale","currencyIsoCode":"USD","amount":"264.72","merchantAccountId":"vxzvx5ms99dcmrn4","subMerchantAccountId":null,"masterMerchantAccountId":null,"orderId":"107236","createdAt":"2017-01-07T17:39:07Z","updatedAt":"2017-01-07T17:39:07Z","customer":{"id":null,"firstName":null,"lastName":null,"company":null,"email":null,"website":null,"phone":null,"fax":null},"billing":{"id":null,"firstName":null,"lastName":null,"company":null,"streetAddress":null,"extendedAddress":null,"locality":null,"region":null,"postalCode":"94107","countryName":null,"countryCodeAlpha2":null,"countryCodeAlpha3":null,"countryCodeNumeric":null},"refundId":null,"refundIds":[],"refundedTransactionId":null,"partialSettlementTransactionIds":[],"authorizedTransactionId":null,"settlementBatchId":null,"shipping":{"id":null,"firstName":null,"lastName":null,"company":null,"streetAddress":null,"extendedAddress":null,"locality":null,"region":null,"postalCode":null,"countryName":null,"countryCodeAlpha2":null,"countryCodeAlpha3":null,"countryCodeNumeric":null},"customFields":"","avsErrorResponseCode":null,"avsPostalCodeResponseCode":"M","avsStreetAddressResponseCode":"I","cvvResponseCode":"M","gatewayRejectionReason":null,"processorAuthorizationCode":"31Q0DK","processorResponseCode":"1000","processorResponseText":"Approved","additionalProcessorResponse":null,"voiceReferralNumber":null,"purchaseOrderNumber":null,"taxAmount":null,"taxExempt":false,"creditCard":{"token":null,"bin":"401288","last4":"1881","cardType":"Visa","expirationMonth":"12","expirationYear":"2020","customerLocation":"US","cardholderName":null,"imageUrl":"https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox","prepaid":"No","healthcare":"Unknown","debit":"Unknown","durbinRegulated":"Unknown","commercial":"Unknown","payroll":"Unknown","issuingBank":"Unknown","countryOfIssuance":"","productId":"Unknown","uniqueNumberIdentifier":null,"venmoSdk":false,"maskedNumber":"401288******1881","expirationDate":"12/2020"},"statusHistory":[{"timestamp":"2017-01-07T17:39:07Z","status":"authorized","amount":"264.72","user":"coalcashop","transactionSource":"api"}],"planId":null,"subscriptionId":null,"subscription":{"billingPeriodEndDate":null,"billingPeriodStartDate":null},"addOns":[],"discounts":[],"descriptor":{"name":null,"phone":null,"url":null},"recurring":false,"channel":null,"serviceFeeAmount":null,"escrowStatus":null,"disbursementDetails":{"disbursementDate":null,"settlementAmount":null,"settlementCurrencyIsoCode":null,"settlementCurrencyExchangeRate":null,"fundsHeld":null,"success":null},"disputes":[],"paymentInstrumentType":"credit_card","processorSettlementResponseCode":"","processorSettlementResponseText":"","threeDSecureInfo":null,"paypalAccount":{},"coinbaseAccount":{},"applePayCard":{},"androidPayCard":{}}},"display_total":"264.72
        EUR","display_items_total":"199.98 EUR"}}'
  recorded_at: Sun, 12 Feb 2017 14:00:29 GMT
recorded_with: VCR 3.0.3
