---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"a0d35ddd-a510-41be-b476-c1457753afcc","secretKey":"DAdeoGn/DjxLBBqy626UhK8kN/h54w7aJx6iLd++mLs=","timestamp":1482917356}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-DHvwxnB3bC93C6WYtA19uA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"g0tCfJ7ZkBssK/G+Rcc9SBnhgtVIRFEaVo25d7y/Kgs="}'
  recorded_at: Wed, 28 Dec 2016 09:29:17 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/orders
    body:
      encoding: UTF-8
      string: '{"cart_id":106974,"user_id":105690,"shipping_address_id":106859,"billing_address_id":106859,"shipping_id":106867}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc:g0tCfJ7ZkBssK/G+Rcc9SBnhgtVIRFEaVo25d7y/Kgs=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"74c-OCrvHc7LRGTtIWx4zGz0aA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"items":[{"product_id":11744,"quantity":2,"variant_id":0}],"shipping_address":{"full_name":"Pinco
        Pallo","id":106859,"user_id":105690,"address1":"Via Vittor Pisani 13","address2":null,"city":"Milano","country":"Italy","postal_code":"20127","company":null,"phone_number":null,"alternate_phone_number":null,"email":"pinco@pallo.com","vat":null},"billing_address":{"full_name":"Pinco
        Pallo","id":106859,"user_id":105690,"address1":"Via Vittor Pisani 13","address2":null,"city":"Milano","country":"Italy","postal_code":"20127","company":null,"phone_number":null,"alternate_phone_number":null,"email":"pinco@pallo.com","vat":null},"shipping":{"_id":"5862bcbdf0a1c8622c9411f0","name":"SDA","base_cost":15,"per_item_cost":1,"zones":[{"name":"Italy","code":"IT"}],"max_weight":50,"id":106867,"application_id":11736},"user":{"email":"prova@prova.it","name":"prova","created_at":"2016-12-19T22:31:16.906Z","id":105690,"registered_with":"marketcloud"},"application_id":11736,"cart_id":106974,"shipping_id":106867,"user_id":105690,"products":[{"price":925.11,"name":"Impastatrice
        a testa fissa","description":"<p>&#34;Impastatrice a testa fissa - costruzione
        in acciaio inox verniciato bianco -vasca, coper-chio, spirale e spacca pasta
        in acciaio AISI304&#34;</p>","images":["https://shop.coalca.it/spree/products/216/product/SK_10.jpg"],"variants":[],"is_master":true,"has_variants":false,"published":true,"sku":"0000778405199","stock_type":"infinite","variantsDefinition":{},"id":11744,"product_id":11744,"variant_id":0,"stock_level":null,"stock_status":null,"type":"simple_product","media":[],"display_price":"925.11
        EUR","category_id":104429,"requires_shipping":true,"quantity":2}],"items_total":1850.22,"shipping_total":17,"taxes_total":410.79,"total":2278.01,"created_at":1482917358655,"status":"pending","id":106975,"_id":"586385eef0a1c8622c9416b9"}}'
  recorded_at: Wed, 28 Dec 2016 09:29:18 GMT
recorded_with: VCR 3.0.3
