---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"zXXNQrUmaK/9LpQiUOX456rKWvOvd4Bla/keyQKtPUs=","timestamp":1483309018}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-SgWRwZbj0FQAIU1IoIlDcg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"Yi9V3T5aePN0pvwXqxEyrQh7KsJWiTVhk7b3VhYGqS0="}'
  recorded_at: Sun, 01 Jan 2017 22:16:58 GMT
- request:
    method: post
    uri: http://api.marketcloud.it//v0/carts
    body:
      encoding: UTF-8
      string: '{"user_id":107227,"items":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:Yi9V3T5aePN0pvwXqxEyrQh7KsJWiTVhk7b3VhYGqS0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d-Pidc5fa6qGXpnVq7se7/Pg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"created_at":1483309018859,"application_id":107224,"items":[],"status":"open","user_id":107227,"id":107731,"items_total":0,"total":0}}'
  recorded_at: Sun, 01 Jan 2017 22:16:59 GMT
[...]
- request:
    method: patch
    uri: http://api.marketcloud.it//v0/carts/107731
    body:
      encoding: UTF-8
      string: '{"op":"update","items":[{"product_id":107226,"quantity":2}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:JVrth1XW46N2qzNre5VTIJBG6mCGzTQvZ/5X1tzjQhM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"205-YiLIqSeq9FaAlxpM78zQ9w"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"items":[{"price":99.99,"name":"Pentola","description":"<p>Una
        bellissima pentola<br/></p>","images":["https://shop.coalca.it/spree/products/327/product/0500070.jpg?1480023556"],"media":[],"published":true,"type":"simple_product","slug":"pentola","category_id":107588,"requires_shipping":true,"weight":3,"depth":50,"width":50,"height":10,"id":107226,"product_id":107226,"variant_id":0,"display_price":"99.99
        EUR","quantity":2}],"id":107731,"user_id":107227,"items_total":199.98,"total":199.98}}'
  recorded_at: Sun, 01 Jan 2017 22:16:59 GMT
recorded_with: VCR 3.0.3
