---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"BuJ66wr7U8MmWo3ydtade/77TBF7bbyeMjWXkZobbtk=","timestamp":1483309019}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-yjQATQGeTuR7BknWnTHwGw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"NGrDaBP/hMr3Ms7R7Uf5CohyBSddd5LxdkCI7f9SDx4="}'
  recorded_at: Sun, 01 Jan 2017 22:17:00 GMT
- request:
    method: post
    uri: http://api.marketcloud.it//v0/orders
    body:
      encoding: UTF-8
      string: '{"user_id":107227,"cart_id":107731,"shipping_address_id":107234,"billing_address_id":107234,"shipping_id":107233}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:NGrDaBP/hMr3Ms7R7Uf5CohyBSddd5LxdkCI7f9SDx4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"660-iShbb1hGgToQKQg5oQhWRQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"items":[{"product_id":107226,"quantity":2,"variant_id":0}],"shipping_address":{"full_name":"Pinco
        Pallo","id":107234,"user_id":107227,"address1":"Via Vittor Pisani 13","address2":null,"city":"Oslo","country":"Norway","postal_code":"20127","company":null,"phone_number":null,"alternate_phone_number":null,"email":"pinco@pallo.com","vat":null},"billing_address":{"full_name":"Pinco
        Pallo","id":107234,"user_id":107227,"address1":"Via Vittor Pisani 13","address2":null,"city":"Oslo","country":"Norway","postal_code":"20127","company":null,"phone_number":null,"alternate_phone_number":null,"email":"pinco@pallo.com","vat":null},"shipping":{"_id":"58658e4cf0a1c8622c942803","name":"DHL","base_cost":15,"per_item_cost":1,"zones":[{"name":"Italy","code":"IT"}],"id":107233,"application_id":107224},"user":{"name":"Pinco
        Pallo","created_at":"2016-12-29T22:10:50.905Z","registered_with":"marketcloud","email":"pinco@pallo.it","id":107227},"application_id":107224,"cart_id":107731,"shipping_id":107233,"user_id":107227,"products":[{"price":99.99,"name":"Pentola","description":"<p>Una
        bellissima pentola<br/></p>","images":["https://shop.coalca.it/spree/products/327/product/0500070.jpg?1480023556"],"media":[],"published":true,"type":"simple_product","slug":"pentola","category_id":107588,"requires_shipping":true,"weight":3,"depth":50,"width":50,"height":10,"id":107226,"product_id":107226,"variant_id":0,"display_price":"99.99
        EUR","quantity":2}],"items_total":199.98,"shipping_total":17,"taxes_total":47.74,"total":264.72,"created_at":1483309020109,"status":"pending","id":107732,"_id":"58697fdc2428421f68ba1364"}}'
  recorded_at: Sun, 01 Jan 2017 22:17:00 GMT
recorded_with: VCR 3.0.3
