---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"REtAsoedgQ1jkQx0bNTfJd3RwgmkBeJ/+NuoxQRUQ6M=","timestamp":1483115059}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-sqPmcNOOTbG4srLc8MeFrA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"ZW1Xnq69FCINYzI3R569Q837rjfNuRHPOYLQXwMvTkE="}'
  recorded_at: Fri, 30 Dec 2016 16:24:19 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/orders?user_id=107227
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:ZW1Xnq69FCINYzI3R569Q837rjfNuRHPOYLQXwMvTkE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1dc6-HI/PQT+MSv9Swew10BYA1A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"items":[{"product_id":107226,"quantity":2,"variant_id":0}],"shipping_address":{"full_name":"ASD","id":107345,"user_id":0,"address1":"ASD","address2":"ASD","city":"ASD","country":"ASD","postal_code":"ASD","company":null,"phone_number":"ASD","alternate_phone_number":"ASD","email":"ASD","vat":"ASD"},"billing_address":{"full_name":"ASD","id":107344,"user_id":0,"address1":"ASD","address2":"ASD","city":"ASD","country":"ASD","postal_code":"ASD","company":null,"phone_number":"ASD","alternate_phone_number":"ASD","email":"ASD","vat":"ASD"},"shipping":{"_id":"58658e4cf0a1c8622c942803","name":"DHL","base_cost":15,"per_item_cost":1,"zones":[{"name":"Italy","code":"IT"}],"id":107233,"application_id":107224},"user":{"name":"Pinco
        Pallo","created_at":"2016-12-29T22:10:50.905Z","registered_with":"marketcloud","email":"pinco@pallo.it","id":107227},"cart_id":107243,"shipping_id":107233,"user_id":107227,"products":[{"price":99.99,"name":"Pentola","description":"<p>Una
        bellissima pentola<br/></p>","images":["https://shop.coalca.it/spree/products/327/product/0500070.jpg?1480023556"],"media":[],"published":true,"type":"simple_product","slug":"pentola","category_id":107225,"requires_shipping":true,"weight":3,"depth":50,"width":50,"height":10,"id":107226,"quantity":2}],"items_total":199.98,"shipping_total":17,"taxes_total":47.74,"total":264.72,"created_at":1483112686633,"status":"pending","id":107350,"display_items_total":"199.98
        EUR","display_total":"264.72 EUR"},{"items":[{"product_id":107226,"quantity":2,"variant_id":0}],"shipping_address":{"full_name":"Pinco
        Pallo","id":107234,"user_id":107227,"address1":"Via Vittor Pisani 13","address2":null,"city":"Oslo","country":"Norway","postal_code":"20127","company":null,"phone_number":null,"alternate_phone_number":null,"email":"pinco@pallo.com","vat":null},"billing_address":{"full_name":"Pinco
        Pallo","id":107234,"user_id":107227,"address1":"Via Vittor Pisani 13","address2":null,"c[...]
