---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"jahubUiuG3YwISTATy4o5rGNdRu6iIYfp+yX3JtyL6s=","timestamp":1483838801}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-am+xmUOefR4hd7A1ThF7cQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"ynqns4kRdB54ekGTumg7h0Hq96HNRQZBwsT8L1b1YF4="}'
  recorded_at: Sun, 08 Jan 2017 01:26:41 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/orders/108910
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:ynqns4kRdB54ekGTumg7h0Hq96HNRQZBwsT8L1b1YF4=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"50-Z15ALGNUADZPwOXPXYCs3Q"
    body:
      encoding: UTF-8
      string: '{"status":false,"errors":[{"code":404,"message":"Not found","type":"NotFound"}]}'
  recorded_at: Sun, 08 Jan 2017 01:26:41 GMT
recorded_with: VCR 3.0.3
