---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"6on8r8oAy31ajsccEOobmgpvxoafzDJMCNds8hjCWv0=","timestamp":1486908652}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-PlM7MePGfZhwJL5rFK0GBA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"ncHWc4hrPU1nyxB2/F91BV69icVOmz5/imkQeT1NlrI="}'
  recorded_at: Sun, 12 Feb 2017 14:10:52 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/carts
    body:
      encoding: UTF-8
      string: '{"user_id":107227,"items":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:ncHWc4hrPU1nyxB2/F91BV69icVOmz5/imkQeT1NlrI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ae-cUc6EwQs0OTfzWZclx/UOA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"created_at":1486908650502,"application_id":107224,"items":[],"status":"open","user_id":107227,"id":128905,"items_total":0,"total":0,"total_weight":0}}'
  recorded_at: Sun, 12 Feb 2017 14:10:52 GMT
[...]
- request:
    method: patch
    uri: http://api.marketcloud.it/v0/carts/128905
    body:
      encoding: UTF-8
      string: '{"op":"update","items":[{"product_id":107226,"quantity":2,"variant_id":null}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:Bv7+gyL1F+8DoF/GCWixFZclGepqy3yR0a29pteF3gM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33b-4OzyfdNQNC2PZpG+Wucfyg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"items":[{"price":99.99,"name":"Pentola","description":"<p>Una
        bellissima pentola, ma non una lavabicchieri<br/></p>","images":["https://shop.coalca.it/spree/products/327/product/0500070.jpg?1480023556"],"media":[],"published":true,"type":"simple_product","slug":"pentola","category_id":107588,"requires_shipping":true,"weight":3,"depth":50,"width":50,"height":10,"id":107226,"product_id":107226,"variant_id":0,"display_price":"99.99
        EUR","seo":{"meta":{"title":"Pentola","description":"Una bellissima pentola,
        ma non una lavabicchieri","keywords":"pentola, antiaderente"},"facebook":{"title":"Padellissima","description":"Padella","image":"https://shop.coalca.it/spree/products/327/product/0500070.jpg"}},"quantity":2}],"id":128905,"user_id":107227,"items_total":199.98,"total":199.98,"total_weight":3}}'
  recorded_at: Sun, 12 Feb 2017 14:10:53 GMT
recorded_with: VCR 3.0.3
