---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"GytzD25Inm7C4mcjpcdZr//WyPslGbxVqI8Y7P+o27I=","timestamp":1487027936}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-TbN9D9ojIDZxE0W8lJK36A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"HY4D5yAh7/iOwZHRPEkLUHKQREnLJikriKnFM6POlLE="}'
  recorded_at: Mon, 13 Feb 2017 23:18:57 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/orders
    body:
      encoding: UTF-8
      string: '{"user_id":107227,"cart_id":128905,"shipping_address_id":107234,"billing_address_id":107234,"shipping_id":107233,"promotion_id":null,"coupon_code":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:HY4D5yAh7/iOwZHRPEkLUHKQREnLJikriKnFM6POlLE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7de-Pcx7gm86grSggW1zD72oXQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"items":[{"product_id":107226,"quantity":2,"variant_id":0}],"shipping_address":{"full_name":"Pinco
        Pallo","id":107234,"user_id":107227,"address1":"Via Vittor Pisani 13","address2":"","city":"Oslo","country":"Norway","postal_code":"20127","company":null,"phone_number":"","alternate_phone_number":null,"email":"pinco@pallo.com","vat":""},"billing_address":{"full_name":"Pinco
        Pallo","id":107234,"user_id":107227,"address1":"Via Vittor Pisani 13","address2":"","city":"Oslo","country":"Norway","postal_code":"20127","company":null,"phone_number":"","alternate_phone_number":null,"email":"pinco@pallo.com","vat":""},"shipping":{"_id":"58658e4cf0a1c8622c942803","name":"DHL","base_cost":15,"per_item_cost":1,"zones":[{"name":"Italy","code":"IT"},{"name":"Europe","code":"EUROPE"}],"id":107233,"application_id":107224,"max_weight":100,"min_depth":10},"taxes":[],"user":{"name":"Panco
        Pillowo1","created_at":"2016-12-29T22:10:50.905Z","registered_with":"marketcloud","email":"pinco@pallo.it","id":107227,"status":"confirmed"},"application_id":107224,"cart_id":128905,"shipping_id":107233,"user_id":107227,"products":[{"price":99.99,"name":"Pentola","description":"<p>Una
        bellissima pentola, ma non una lavabicchieri<br/></p>","images":["https://shop.coalca.it/spree/products/327/product/0500070.jpg?1480023556"],"media":[],"published":true,"type":"simple_product","slug":"pentola","category_id":107588,"requires_shipping":true,"weight":3,"depth":50,"width":50,"height":10,"id":107226,"product_id":107226,"variant_id":0,"display_price":"99.99
        EUR","seo":{"meta":{"title":"Pentola","description":"Una bellissima pentola,
        ma non una lavabicchieri","keywords":"pentola, antiaderente"},"facebook":{"title":"Padellissima","description":"Padella","image":"https://shop.coalca.it/spree/products/327/product/0500070.jpg"}},"quantity":2}],"items_total":199.98,"shipping_total":17,"taxes_total":25.74,"total":242.72,"created_at":1487027936678,"status":"pending","id":129738,"_id":"58a23ee05c622b61c0b2beab"}}'
  recorded_at: Mon, 13 Feb 2017 23:18:57 GMT
recorded_with: VCR 3.0.3
