---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"vaOlBmfjiJRPUJn69wm+3falQuujYMbq2hXTNgE/aXI=","timestamp":1483115060}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-ZOUPYaHHWRfa5OzBWvojUg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"tRHSLRMsPCo9gmIA5RGX+THOKCWdY8sMkhwyO1lP8zE="}'
  recorded_at: Fri, 30 Dec 2016 16:24:20 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/carts
    body:
      encoding: UTF-8
      string: '{"user_id":107227,"items":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:tRHSLRMsPCo9gmIA5RGX+THOKCWdY8sMkhwyO1lP8zE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d-sy03A5Zo7Puw9FLM2cHHVQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"created_at":1483115059640,"application_id":107224,"items":[],"status":"open","user_id":107227,"id":107362,"items_total":0,"total":0}}'
  recorded_at: Fri, 30 Dec 2016 16:24:20 GMT
[...]
- request:
    method: patch
    uri: http://api.marketcloud.it/v0/carts/107362
    body:
      encoding: UTF-8
      string: '{"op":"update","items":[{"product_id":107226,"quantity":2}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:9Nay9hVQe8x8AX6SK71CorNZyqH4BUvC69bCixPj37M=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e9-KfcR8+S26Nry13SoUT3wDA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"items":[{"price":99.99,"name":"Pentola","description":"<p>Una
        bellissima pentola<br/></p>","images":["https://shop.coalca.it/spree/products/327/product/0500070.jpg?1480023556"],"media":[],"published":true,"type":"simple_product","slug":"pentola","category_id":107225,"requires_shipping":true,"weight":3,"depth":50,"width":50,"height":10,"id":107226,"product_id":107226,"variant_id":0,"quantity":2}],"id":107362,"user_id":107227,"items_total":199.98,"total":199.98}}'
  recorded_at: Fri, 30 Dec 2016 16:24:21 GMT
recorded_with: VCR 3.0.3
