---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"5SDYEeZMEyg70xd+EXn9OYbioHruc7cgaMHgLHwbEAo=","timestamp":1483309337}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-skjpTa1er0BpIYWQCM6mjQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"LWYqEnNXuDb7JWK0qdS8uLRMjTTDCSkzqpgj4dTgefU="}'
  recorded_at: Sun, 01 Jan 2017 22:22:17 GMT
- request:
    method: post
    uri: http://api.marketcloud.it//v0/payments
    body:
      encoding: UTF-8
      string: '{"method":"Braintree","order_id":107236,"nonce":"fake-valid-nonce"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:LWYqEnNXuDb7JWK0qdS8uLRMjTTDCSkzqpgj4dTgefU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b39-5bfKkgjwBgjHh45JggLP6A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"id":"hjf9twr5","status":"authorized","type":"sale","currencyIsoCode":"USD","amount":"264.72","merchantAccountId":"vxzvx5ms99dcmrn4","subMerchantAccountId":null,"masterMerchantAccountId":null,"orderId":"107236","createdAt":"2017-01-01T22:22:18Z","updatedAt":"2017-01-01T22:22:18Z","customer":{"id":null,"firstName":null,"lastName":null,"company":null,"email":null,"website":null,"phone":null,"fax":null},"billing":{"id":null,"firstName":null,"lastName":null,"company":null,"streetAddress":null,"extendedAddress":null,"locality":null,"region":null,"postalCode":"94107","countryName":null,"countryCodeAlpha2":null,"countryCodeAlpha3":null,"countryCodeNumeric":null},"refundId":null,"refundIds":[],"refundedTransactionId":null,"partialSettlementTransactionIds":[],"authorizedTransactionId":null,"settlementBatchId":null,"shipping":{"id":null,"firstName":null,"lastName":null,"company":null,"streetAddress":null,"extendedAddress":null,"locality":null,"region":null,"postalCode":null,"countryName":null,"countryCodeAlpha2":null,"countryCodeAlpha3":null,"countryCodeNumeric":null},"customFields":"","avsErrorResponseCode":null,"avsPostalCodeResponseCode":"M","avsStreetAddressResponseCode":"I","cvvResponseCode":"M","gatewayRejectionReason":null,"processorAuthorizationCode":"XZHRCT","processorResponseCode":"1000","processorResponseText":"Approved","additionalProcessorResponse":null,"voiceReferralNumber":null,"purchaseOrderNumber":null,"taxAmount":null,"taxExempt":false,"creditCard":{"token":null,"bin":"401288","last4":"1881","cardType":"Visa","expirationMonth":"12","expirationYear":"2020","customerLocation":"US","cardholderName":null,"imageUrl":"https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox","prepaid":"No","healthcare":"Unknown","debit":"Unknown","durbinRegulated":"Unknown","commercial":"Unknown","payroll":"Unknown","issuingBank":"Unknown","countryOfIssuance":"","productId":"Unknown","uniqueNumberIdentifier":null,"venmoSdk":false,"maskedNumber":"401288******1881","expirationDate":"12/2020"},"statusHistory":[{"timestamp":"2017-01-01T22:22:18Z","status":"authorized","amount":"264.72","user":"coalcashop","transactionSource":"api"}],"planId":null,"subscriptionId":null,"subscription":{"billingPeriodEndDate":null,"billingPeriodStartDate":null},"addOns":[],"discounts":[],"descriptor":{"name":null,"phone":null,"url":null},"recurring":false,"channel":null,"serviceFeeAmount":null,"escrowStatus":null,"disbursementDetails":{"disbursementDate":null,"settlementAmount":null,"settlementCurrencyIsoCode":null,"settlementCurrencyExchangeRate":null,"fundsHeld":null,"success":null},"disputes":[],"paymentInstrumentType":"credit_card","processorSettlementResponseCode":"","processorSettlementResponseText":"","threeDSecureInfo":null,"paypalAccount":{},"coinbaseAccount":{},"applePayCard":{},"androidPayCard":{}}}'
  recorded_at: Sun, 01 Jan 2017 22:22:18 GMT
recorded_with: VCR 3.0.3
