---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"Ptb50ScqN6IQ94E9B6btFIjFMR/BrJukYRXCQVj2VbM=","timestamp":1487803591}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b3-EpqJe8CYSLy7xZ/wGIjG7w"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": true,
          "token": "ql6eWkZZ5/ERQEOALBXClUGMNoy4iF+QYhIKsXsUAgM=",
          "data": {
            "token": "ql6eWkZZ5/ERQEOALBXClUGMNoy4iF+QYhIKsXsUAgM=",
            "access": "admin"
          }
        }
  recorded_at: Wed, 22 Feb 2017 22:46:31 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/paymentmethods/-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:ql6eWkZZ5/ERQEOALBXClUGMNoy4iF+QYhIKsXsUAgM=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9c-kNCitGwkt69kKJW0Ew8vkg"
    body:
      encoding: UTF-8
      string: |-
        {
          "status": false,
          "errors": [
            {
              "code": 404,
              "message": "Unable to find paymentMethod with id -1",
              "type": "NotFound"
            }
          ]
        }
  recorded_at: Wed, 22 Feb 2017 22:46:31 GMT
recorded_with: VCR 3.0.3
