---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"Ptb50ScqN6IQ94E9B6btFIjFMR/BrJukYRXCQVj2VbM=","timestamp":1487803591}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b3-KPaDd9TxqZDt3r5hxAb6cg"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": true,
          "token": "30sCHON9T2h21q/pmw70dkWoLz3H2uHvUttK4xmMyCI=",
          "data": {
            "token": "30sCHON9T2h21q/pmw70dkWoLz3H2uHvUttK4xmMyCI=",
            "access": "admin"
          }
        }
  recorded_at: Wed, 22 Feb 2017 22:46:31 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/paymentmethods/121182
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:30sCHON9T2h21q/pmw70dkWoLz3H2uHvUttK4xmMyCI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ea-viPMNp+mPHsigq+uYgaIbA"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": true,
          "data": {
            "name": "Bonifico bancario",
            "description": "Pagamento anticipato tramite bonifico bancario",
            "cost_type": "no_cost",
            "id": 121182,
            "application_id": 107224,
            "active": true
          }
        }
  recorded_at: Wed, 22 Feb 2017 22:46:31 GMT
recorded_with: VCR 3.0.3
