---
http_interactions:
- request:
    method: get
    uri: http://api.marketcloud.it//v0/products?category_id=107225&published=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"93-d9/WNnHUcSkF3BqyAwmmNg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[],"_links":{"curr":"http://api.marketcloud.it/v0/products?category_id=107225&published=true&"},"count":0,"page":1,"pages":1}'
  recorded_at: Sun, 01 Jan 2017 22:17:01 GMT
recorded_with: VCR 3.0.3
