---
http_interactions:
- request:
    method: get
    uri: http://api.marketcloud.it/v0/products?category_id=107225&page=1&per_page=20&price_gt=0&price_lt=10000000000000&published=true&q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cd-+lbd+kgjP+nNikPJ93wBZw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[],"_links":{"curr":"http://api.marketcloud.it/v0/products?category_id=107225&page=1&per_page=20&price_gt=0&price_lt=10000000000000&published=true&q=0&"},"count":0,"page":1,"pages":1}'
  recorded_at: Thu, 05 Jan 2017 18:25:43 GMT
recorded_with: VCR 3.0.3
