---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"/CaIj1sPqiJCbKPoU7uhgi9p+tBmcU+tvt+cVnHjUo4=","timestamp":1483050817}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-8/rzGSyvZJZyVKhDdS/Qhw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"pUHAMcOqLEZ1C3lyg5P2p93IJO/MlPJvPLuVXrHdR58="}'
  recorded_at: Thu, 29 Dec 2016 22:33:37 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/products?published=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:pUHAMcOqLEZ1C3lyg5P2p93IJO/MlPJvPLuVXrHdR58=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"26f-SXekR82hjHv4KElDYGfmAQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"price":99.99,"name":"Pentola","description":"<p>Una
        bellissima pentola<br/></p>","images":["https://shop.coalca.it/spree/products/327/product/0500070.jpg?1480023556"],"media":[],"published":true,"type":"simple_product","slug":"pentola","category_id":107225,"requires_shipping":true,"weight":3,"depth":50,"width":50,"height":10,"id":107226,"application_id":107224,"product_id":107226,"variant_id":0,"stock_level":null,"stock_type":"status","stock_status":"in_stock","display_price":"99.99
        EUR"}],"_links":{"curr":"http://api.marketcloud.it/v0/products?published=true&"},"count":1,"page":1,"pages":1}'
  recorded_at: Thu, 29 Dec 2016 22:33:38 GMT
recorded_with: VCR 3.0.3
