---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"OVTHaz3Hv4DqXvY/gHirj4Soeei5gys4SUCwQORMavU=","timestamp":1488572894}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b3-deXosN+BixXvVnEss1qK/ufEOds"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": true,
          "token": "J72F7kL/cSF4PrZUh5tziFFXsTxiE/1HskZe8AnA6Nc=",
          "data": {
            "token": "J72F7kL/cSF4PrZUh5tziFFXsTxiE/1HskZe8AnA6Nc=",
            "access": "admin"
          }
        }
  recorded_at: Fri, 03 Mar 2017 20:28:15 GMT
- request:
    method: put
    uri: http://api.marketcloud.it/v0/products/132169
    body:
      encoding: UTF-8
      string: '{"name":"a product","description":"With an updated name"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:J72F7kL/cSF4PrZUh5tziFFXsTxiE/1HskZe8AnA6Nc=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"109-Lc6D4wusEElJvlC1D+gyiWSBN3A"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": true,
          "data": {
            "_id": "58aa1094abd09e22a8ddc461",
            "name": "a product",
            "description": "With an updated name",
            "price": 99.99,
            "sku": "XXXXYYQQQ",
            "type": "simple_product",
            "id": 132169,
            "application_id": 107224
          }
        }
  recorded_at: Fri, 03 Mar 2017 20:28:15 GMT
recorded_with: VCR 3.0.3
