---
http_interactions:
- request:
    method: get
    uri: http://api.marketcloud.it/v0/products/107226
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"220-xQlcpukUxi+lz/fejXt2OQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"price":99.99,"name":"Pentola","description":"<p>Una
        bellissima pentola, ma non una lavabicchieri<br/></p>","images":["https://shop.coalca.it/spree/products/327/product/0500070.jpg?1480023556"],"media":[],"published":true,"type":"simple_product","slug":"pentola","category_id":107588,"requires_shipping":true,"weight":3,"depth":50,"width":50,"height":10,"id":107226,"application_id":107224,"product_id":107226,"variant_id":0,"display_price":"99.99
        EUR","stock_level":null,"stock_type":"status","stock_status":"in_stock"}}'
  recorded_at: Sun, 05 Feb 2017 17:03:51 GMT
recorded_with: VCR 3.0.3
