---
http_interactions:
- request:
    method: get
    uri: http://api.marketcloud.it/v0/products?category_id=104429&published=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"322-03KK5yN4a0tZuPyY9JlCtA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"price":925.11,"name":"Impastatrice a testa
        fissa","description":"<p>&#34;Impastatrice a testa fissa - costruzione in
        acciaio inox verniciato bianco -vasca, coper-chio, spirale e spacca pasta
        in acciaio AISI304&#34;</p>","images":["https://shop.coalca.it/spree/products/216/product/SK_10.jpg"],"variants":[],"is_master":true,"has_variants":false,"published":true,"sku":"0000778405199","stock_type":"status","variantsDefinition":{},"id":11744,"application_id":11736,"product_id":11744,"variant_id":0,"stock_level":null,"stock_status":"in_stock","type":"simple_product","media":[],"display_price":"925.11
        EUR","category_id":104429,"requires_shipping":true}],"_links":{"curr":"http://api.marketcloud.it/v0/products?category_id=104429&published=true&"},"count":1,"page":1,"pages":1}'
  recorded_at: Wed, 28 Dec 2016 09:29:21 GMT
recorded_with: VCR 3.0.3
