---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"Kf9OZ8Sv+BRjlPm9Fx2ZUMk5XA1B9OsVj1rPDIeJQf4=","timestamp":1486909703}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-mBbY7pfIv4Fstlh1vRIyRA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"4ShPWlOYcyi/krPxdBNdkixFRzkvE3sw4bJc1d12HKY="}'
  recorded_at: Sun, 12 Feb 2017 14:28:23 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/products/107226
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:4ShPWlOYcyi/krPxdBNdkixFRzkvE3sw4bJc1d12HKY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"32b-XP28tihoJnxf3snpmH1hew"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"price":99.99,"name":"Pentola","description":"<p>Una
        bellissima pentola, ma non una lavabicchieri<br/></p>","images":["https://shop.coalca.it/spree/products/327/product/0500070.jpg?1480023556"],"media":[],"published":true,"type":"simple_product","slug":"pentola","category_id":107588,"requires_shipping":true,"weight":3,"depth":50,"width":50,"height":10,"id":107226,"application_id":107224,"product_id":107226,"variant_id":0,"display_price":"99.99
        EUR","seo":{"meta":{"title":"Pentola","description":"Una bellissima pentola,
        ma non una lavabicchieri","keywords":"pentola, antiaderente"},"facebook":{"title":"Padellissima","description":"Padella","image":"https://shop.coalca.it/spree/products/327/product/0500070.jpg"}},"stock_level":null,"stock_type":"status","stock_status":"in_stock"}}'
  recorded_at: Sun, 12 Feb 2017 14:28:24 GMT
recorded_with: VCR 3.0.3
