---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"SO2n72+YPSvX53ktFIDlU693T3+OnvdOCzpKUpgXMs0=","timestamp":1487540372}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-DHvNMRUQgwNNVA+DOHe87w"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"OhsIp4C6ljHA4XOj5x5uTavgVQu2uf8NnY5mX4ID08k="}'
  recorded_at: Sun, 19 Feb 2017 21:39:32 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/products
    body:
      encoding: UTF-8
      string: '{"name":"a product","description":"With a name","price":99.99,"sku":"XXXXYYQQQ","stock_type":"status","stock_status":"in_stock"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:OhsIp4C6ljHA4XOj5x5uTavgVQu2uf8NnY5mX4ID08k=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d3-ceOhG7J1Ol/KB/+XLa4sxA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"name":"a product","description":"With a name","price":99.99,"sku":"XXXXYYQQQ","stock_type":"status","stock_status":"in_stock","type":"simple_product","id":132169,"application_id":107224}}'
  recorded_at: Sun, 19 Feb 2017 21:39:32 GMT
recorded_with: VCR 3.0.3
