---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"a0d35ddd-a510-41be-b476-c1457753afcc","secretKey":"mPTcCKvJvpRAOQp8XvPwrIQGeyMwIiCuEuta7hzZEjQ=","timestamp":1482917328}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-Er8Fa3rE/KZQhe0Xkkxs0g"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"arzNdWrpfi9yn5LlES6a4NQAkWdiePxlQG63NSo51jI="}'
  recorded_at: Wed, 28 Dec 2016 09:28:48 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/products?published=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc:arzNdWrpfi9yn5LlES6a4NQAkWdiePxlQG63NSo51jI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30f-qjYrVSXXLJxSLiOeGi6feg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"price":925.11,"name":"Impastatrice a testa
        fissa","description":"<p>&#34;Impastatrice a testa fissa - costruzione in
        acciaio inox verniciato bianco -vasca, coper-chio, spirale e spacca pasta
        in acciaio AISI304&#34;</p>","images":["https://shop.coalca.it/spree/products/216/product/SK_10.jpg"],"variants":[],"is_master":true,"has_variants":false,"published":true,"sku":"0000778405199","stock_type":"status","variantsDefinition":{},"id":11744,"application_id":11736,"product_id":11744,"variant_id":0,"stock_level":null,"stock_status":"in_stock","type":"simple_product","media":[],"display_price":"925.11
        EUR","category_id":104429,"requires_shipping":true}],"_links":{"curr":"http://api.marketcloud.it/v0/products?published=true&"},"count":1,"page":1,"pages":1}'
  recorded_at: Wed, 28 Dec 2016 09:28:49 GMT
recorded_with: VCR 3.0.3
