---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"e2aPqx3fsP/CJIciBebDGoDkg4Kdf0IsGi6lGLKgQyU=","timestamp":1486314231}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-NQQxaCcKzrx0sHhlrB5SQQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"l9MkV7LMb17/iIb1olMbVhpbq2CZC89+44x9gGL6d/o="}'
  recorded_at: Sun, 05 Feb 2017 17:03:51 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/promotions/125439
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:l9MkV7LMb17/iIb1olMbVhpbq2CZC89+44x9gGL6d/o=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cc-e5jWwS5IMexmgvvXX5Og9g"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"name":"Black Friday","conditions":[{"type":"MIN_NUMBER_OF_PRODUCTS","value":5}],"effects":[{"type":"CART_ITEMS_NET_REDUCTION","value":10}],"active":false,"priority":0,"id":125439}}'
  recorded_at: Sun, 05 Feb 2017 17:03:51 GMT
recorded_with: VCR 3.0.3
