---
http_interactions:
- request:
    method: get
    uri: http://api.marketcloud.it/v0/shippings/107233
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"99-7QgRHCcbXEKB/Wdr/Dc30A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"name":"DHL","base_cost":15,"per_item_cost":1,"zones":[{"name":"Italy","code":"IT"}],"id":107233,"max_weight":100,"min_depth":10}}'
  recorded_at: Mon, 16 Jan 2017 23:24:16 GMT
recorded_with: VCR 3.0.3
