---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"Tz2PHwPYGy6x+hlxmi0+SFyKtvqhe2YK/Or5meVqOt8=","timestamp":1483309075}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-UfapeVNwE4oEfmW5BQAPkg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"SUI+POipZBzjdaxx+3ndD/etWHEH8EN24Mc6EFLaHL8="}'
  recorded_at: Sun, 01 Jan 2017 22:17:56 GMT
- request:
    method: get
    uri: http://api.marketcloud.it//v0/shippings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:SUI+POipZBzjdaxx+3ndD/etWHEH8EN24Mc6EFLaHL8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d4-XH/6tkZd/V8fHgZpMG3RSw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"name":"DHL","base_cost":15,"per_item_cost":1,"zones":[{"name":"Italy","code":"IT"}],"id":107233}],"_links":{"curr":"http://api.marketcloud.it/v0/shippings?"},"count":1,"page":1,"pages":1}'
  recorded_at: Sun, 01 Jan 2017 22:17:56 GMT
recorded_with: VCR 3.0.3
