---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"4/xW0zhM4yFdLjJjI/2UtqJmxQLFMV3On+1fvXREZRc=","timestamp":1483115064}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-kFq/zD03+xH26p8pW7CUtw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"XqOel9sy3IqcIpFAlk7lZAlmHwYFkkBlEoQC/NJQm5s="}'
  recorded_at: Fri, 30 Dec 2016 16:24:24 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/shippings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:XqOel9sy3IqcIpFAlk7lZAlmHwYFkkBlEoQC/NJQm5s=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d4-XH/6tkZd/V8fHgZpMG3RSw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"name":"DHL","base_cost":15,"per_item_cost":1,"zones":[{"name":"Italy","code":"IT"}],"id":107233}],"_links":{"curr":"http://api.marketcloud.it/v0/shippings?"},"count":1,"page":1,"pages":1}'
  recorded_at: Fri, 30 Dec 2016 16:24:24 GMT
recorded_with: VCR 3.0.3
