---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"dxDd165oFHRL+oSSV+3rg4oNjEs72yepDMUcKZfCA2A=","timestamp":1486909740}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-/IWLud/ScJrc7hnin+oJpQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"WSfTgfA6FxJkAOFaUrs2RRsZTvhJT12LUxQQJF+qSBw="}'
  recorded_at: Sun, 12 Feb 2017 14:29:00 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/shippings/107233
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:WSfTgfA6FxJkAOFaUrs2RRsZTvhJT12LUxQQJF+qSBw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bb-QlMIblUBN61t/5a16SdK8g"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"name":"DHL","base_cost":15,"per_item_cost":1,"zones":[{"name":"Italy","code":"IT"},{"name":"Europe","code":"EUROPE"}],"id":107233,"max_weight":100,"min_depth":10}}'
  recorded_at: Sun, 12 Feb 2017 14:29:10 GMT
recorded_with: VCR 3.0.3
