---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"nAJ3/Oiy1/UcBbn88Bgo6eo8ONebBNp4dy4tJ1xr3Aw=","timestamp":1486909750}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-xgNP5EqC9cG/zfohh4LpKg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"WZdrx7vFTeMsiAOectf2yVhG3bfsCys2P3QdfEKo+1M="}'
  recorded_at: Sun, 12 Feb 2017 14:29:10 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/shippings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:WZdrx7vFTeMsiAOectf2yVhG3bfsCys2P3QdfEKo+1M=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"116-tiCrTC0289RmM74mYeXBBA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"name":"DHL","base_cost":15,"per_item_cost":1,"zones":[{"name":"Italy","code":"IT"},{"name":"Europe","code":"EUROPE"}],"id":107233,"max_weight":100,"min_depth":10}],"_links":{"curr":"http://api.marketcloud.it/v0/shippings?"},"count":1,"page":1,"pages":1}'
  recorded_at: Sun, 12 Feb 2017 14:29:10 GMT
recorded_with: VCR 3.0.3
