---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"a0d35ddd-a510-41be-b476-c1457753afcc","secretKey":"WBlOrF/qI0iYOADKDG0In/uvLsyK5FPb3B2or6tknp8=","timestamp":1482917362}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-d63yk+AeYiJwsYe3zhJejw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"lwZ1J/8sb7tDvXKZdJM1GY3XZqfYq5TdidMCzshDQIY="}'
  recorded_at: Wed, 28 Dec 2016 09:29:22 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/shippings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc:lwZ1J/8sb7tDvXKZdJM1GY3XZqfYq5TdidMCzshDQIY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e4-XBacM06QJErg7xSXrkxymA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"name":"SDA","base_cost":15,"per_item_cost":1,"zones":[{"name":"Italy","code":"IT"}],"max_weight":50,"id":106867}],"_links":{"curr":"http://api.marketcloud.it/v0/shippings?"},"count":1,"page":1,"pages":1}'
  recorded_at: Wed, 28 Dec 2016 09:29:23 GMT
recorded_with: VCR 3.0.3
