---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"akbUbier0emeOaosFT8zIHnlzIKbFkmFhjHQDqW9zfg=","timestamp":1486910299}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-Q5UNNUo+dCm7KpwY9AzSpg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"pW+z7rXpOlgEmeXl/LcykdIRpw0GbYonciRKhLsOJII="}'
  recorded_at: Sun, 12 Feb 2017 14:38:19 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/users
    body:
      encoding: UTF-8
      string: '{"email":"prova2@prova.it","name":"prova","password":"provapw"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:pW+z7rXpOlgEmeXl/LcykdIRpw0GbYonciRKhLsOJII=
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"84-6suz3qtR5FyoGnLKYYHnHA"
    body:
      encoding: UTF-8
      string: '{"status":false,"errors":[{"code":400,"type":"EmailAddressExists","message":"The
        email address prova2@prova.it is already taken."}]}'
  recorded_at: Sun, 12 Feb 2017 14:38:19 GMT
recorded_with: VCR 3.0.3
