---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"XGg4s7lsKGJi6Edn4J2XXjKYme+wlzqtDhvG95ORsJk=","timestamp":1483356808}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-5O2Fg3EupopwWx5TfwGg1A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"7UbznuF4oELHMlhYoiEFwSYNiHVz731Qt3+GqFhy9gw="}'
  recorded_at: Mon, 02 Jan 2017 11:33:29 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/users?email=prova2@prova.it
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:7UbznuF4oELHMlhYoiEFwSYNiHVz731Qt3+GqFhy9gw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"102-hW6aiJcKErA4/1TMF4CBwQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":[{"email":"prova2@prova.it","name":"prova","created_at":"2016-12-29T22:33:39.341Z","id":107237,"registered_with":"marketcloud"}],"_links":{"curr":"http://api.marketcloud.it/v0/users?email=prova2@prova.it&"},"count":1,"page":1,"pages":1}'
  recorded_at: Mon, 02 Jan 2017 11:33:29 GMT
recorded_with: VCR 3.0.3
