---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"eA6u1FgWkeRsM7Vmfrusz4oWuZPnI21PdhJsP+ufzbI=","timestamp":1486910194}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-RCVrlJzY6rlkTgbNWAWO8A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"vWuRTYXDtP0+SE6PQlpQDYxFvBLYk8pN9AENxmt/s8I="}'
  recorded_at: Sun, 12 Feb 2017 14:36:34 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/users/107227
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:vWuRTYXDtP0+SE6PQlpQDYxFvBLYk8pN9AENxmt/s8I=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b1-pGjYfdpJVeKDPUC9ct1kSA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"name":"Panco Pillowo","created_at":"2016-12-29T22:10:50.905Z","registered_with":"marketcloud","email":"pinco@pallo.it","id":107227,"status":"confirmed"}}'
  recorded_at: Sun, 12 Feb 2017 14:36:34 GMT
[...]
- request:
    method: put
    uri: http://api.marketcloud.it/v0/users/107227
    body:
      encoding: UTF-8
      string: '{"name":"Panco Pillowo1"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:YUIHxDbzJPMlxZcsQqg9Ww9fCawTITsVoTZgXZPrDmU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"115-KSjRQVhhFAYVzAiCb0SVVg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"_id":"586589eaf0a1c8622c9427b8","name":"Panco
        Pillowo1","password":"Dci15XmGyrt1+AoT5+nOBvaKDaw=","created_at":"2016-12-29T22:10:50.905Z","registered_with":"marketcloud","email":"pinco@pallo.it","application_id":107224,"id":107227,"status":"confirmed"}}'
  recorded_at: Sun, 12 Feb 2017 14:36:37 GMT
recorded_with: VCR 3.0.3
