---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"ubhnjpFXBwPJAcMtLCqt6BmBYubID/S6gElr1cWltfY=","timestamp":1489359070}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b3-6/7PvhbEP7DJqu97gnd/r+9RsVk"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": true,
          "token": "FZdwfrFjQDnuBdgJ7sIX0k/b+1FI5m3X2l4Uq4jggdA=",
          "data": {
            "token": "FZdwfrFjQDnuBdgJ7sIX0k/b+1FI5m3X2l4Uq4jggdA=",
            "access": "admin"
          }
        }
  recorded_at: Sun, 12 Mar 2017 22:51:10 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/users?email=not_a_valid@email.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:FZdwfrFjQDnuBdgJ7sIX0k/b+1FI5m3X2l4Uq4jggdA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac-kl14JPU53nPV39phhXcGxeqy1r8"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": true,
          "data": [],
          "_links": {
            "curr": "http://api.marketcloud.it/v0/users?email=not_a_valid@email.com&"
          },
          "count": 0,
          "page": 1,
          "pages": 1
        }
  recorded_at: Sun, 12 Mar 2017 22:51:10 GMT
recorded_with: VCR 3.0.3
