---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"KzL2IoencXuwpqVRQiZiGBImzoA9SQ7THY0eHKPk/N4=","timestamp":1483309022}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-yYRWzChwLpeIjETHVk6zsw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"kjCctBiHIeB9XRSKT0iVFHqHG0iFv6kG3SkhG9Ps7WM="}'
  recorded_at: Sun, 01 Jan 2017 22:17:02 GMT
- request:
    method: post
    uri: http://api.marketcloud.it//v0/users/authenticate
    body:
      encoding: UTF-8
      string: '{"email":"prova2@prova.it","password":"provapw"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:kjCctBiHIeB9XRSKT0iVFHqHG0iFv6kG3SkhG9Ps7WM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7e-E2L9YBn2d4guO1Fi/95Y0A"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"token":"+TMEiTP8ydFaM5bF4D/BmFAwokZzeI0PEwQ/8lLsYxI=","user":{"id":107237,"email":"prova2@prova.it"}}}'
  recorded_at: Sun, 01 Jan 2017 22:17:02 GMT
recorded_with: VCR 3.0.3
