---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"iaahGOeFpTHubm8U7l6f+WI0RCExs2ktTxjPwYIO8/Q=","timestamp":1483309770}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-rMd2tHIu2GtyaFDiH+SpiQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"sTfVW322FSZvopCIWYJBDmlNLnY6KpQ32A/J2pdD6qk="}'
  recorded_at: Sun, 01 Jan 2017 22:29:30 GMT
- request:
    method: post
    uri: http://api.marketcloud.it//v0/users
    body:
      encoding: UTF-8
      string: '{"email":"prova3@prova.it","name":"prova","password":"provapw"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:sTfVW322FSZvopCIWYJBDmlNLnY6KpQ32A/J2pdD6qk=
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"84-mxoiE2Cv9St+/Z1PmSmdwA"
    body:
      encoding: UTF-8
      string: '{"status":false,"errors":[{"code":400,"type":"EmailAddressExists","message":"The
        email address prova3@prova.it is already taken."}]}'
  recorded_at: Sun, 01 Jan 2017 22:29:31 GMT
recorded_with: VCR 3.0.3
