---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"nSgXkNREKlEznB8bTGdFC0TsaHtl+cWhOcazgdJscYg=","timestamp":1483115573}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-5WwnIuiP61SHftExYNyKeA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"bIxAjdXIjFVvwQkXAaNGN6ra4qsYuQzoYobhVcvGs/E="}'
  recorded_at: Fri, 30 Dec 2016 16:32:53 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/users/authenticate
    body:
      encoding: UTF-8
      string: '{"email":"prova2@prova.it","password":"provapw"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:bIxAjdXIjFVvwQkXAaNGN6ra4qsYuQzoYobhVcvGs/E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7e-ByOAkQ2E1jlXQV7lQIXXeA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"token":"apv9dEDXoXn3aw6BwMZ7179eUZ7bpZMJNoK1wigVt3c=","user":{"id":107237,"email":"prova2@prova.it"}}}'
  recorded_at: Fri, 30 Dec 2016 16:32:53 GMT
recorded_with: VCR 3.0.3
