---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"a0d35ddd-a510-41be-b476-c1457753afcc","secretKey":"h7ErgDRo+n2+IDolxpfLWA9dPoQ2yhaTkJ7J0AItMm4=","timestamp":1482917363}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-4kXSXKrd4v6cUvihJQWrgQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"0Q67ogvZ+9hef8QvJpDXRbMR9FhD8TO5dLQ/lal9fgI="}'
  recorded_at: Wed, 28 Dec 2016 09:29:23 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/users/14516
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc:0Q67ogvZ+9hef8QvJpDXRbMR9FhD8TO5dLQ/lal9fgI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5c-PUEzJBLKVdmoud8/nl6lpw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"email":"nico@dpixel.it","name":"niccolo","image_url":"","id":14516}}'
  recorded_at: Wed, 28 Dec 2016 09:29:24 GMT
recorded_with: VCR 3.0.3
