---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"a0d35ddd-a510-41be-b476-c1457753afcc","secretKey":"OOI2AnXXAZeV9pY9OD6el6MgPlKAAKmc8q368ANICJg=","timestamp":1482917481}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-3yu4kk4mqIQruM4JWmLv8g"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"GM0UkidSiHQSzOWtF5udHDprGlNjZIkyXP+h2DrokOs="}'
  recorded_at: Wed, 28 Dec 2016 09:31:23 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/users/
    body:
      encoding: UTF-8
      string: '{"email":"prova2@prova.it","name":"prova","password":"provapw"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc:GM0UkidSiHQSzOWtF5udHDprGlNjZIkyXP+h2DrokOs=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"95-j4eupAwNwcgH2BgJnkmYOA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"email":"prova2@prova.it","name":"prova","created_at":"2016-12-28T09:31:23.835Z","id":106976,"registered_with":"marketcloud"}}'
  recorded_at: Wed, 28 Dec 2016 09:31:23 GMT
recorded_with: VCR 3.0.3
