---
http_interactions:
- request:
    method: get
    uri: http://api.marketcloud.it/v0/users?email=prova2@prova.it
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:kjCctBiHIeB9XRSKT0iVFHqHG0iFv6kG3SkhG9Ps7WM=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c0-wtjpoMoreq93fDJLIvrmVg"
    body:
      encoding: UTF-8
      string: '{"status":false,"errors":[{"code":401,"type":"INVALID_TOKEN","message":"Auth
        token (e8152fe2-237a-4360-8ad2-f3773082226c:kjCctBiHIeB9XRSKT0iVFHqHG0iFv6kG3SkhG9Ps7WM=)
        is invalid or expired"}]}'
  recorded_at: Sun, 05 Feb 2017 17:03:51 GMT
recorded_with: VCR 3.0.3
