---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"3+gm/ZG9MGk4OqK20tZFI8GQoi4ndxiAb4A0uo7NUtw=","timestamp":1486910298}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-QRiKXaTSxH5WK4ElUUSW2Q"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"yUAbu67jCFrGGfz9jcvCptIvsqaAyXLfJnFoyOHAgOg="}'
  recorded_at: Sun, 12 Feb 2017 14:38:18 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/users/107227
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:yUAbu67jCFrGGfz9jcvCptIvsqaAyXLfJnFoyOHAgOg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b2-SxV/lEO4B1tQcpI0neqe7g"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"name":"Panco Pillowo1","created_at":"2016-12-29T22:10:50.905Z","registered_with":"marketcloud","email":"pinco@pallo.it","id":107227,"status":"confirmed"}}'
  recorded_at: Sun, 12 Feb 2017 14:38:19 GMT
recorded_with: VCR 3.0.3
