---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"DaKqYOOvb/4dxsQTt7vQOsyulw0Ib8OGRDr/l4n0VCU=","timestamp":1483309771}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-doInQ+403VxiI40BDDrM3Q"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"JlHLDA0ZJP5yW0AMeliTfwJfOKPPz4CKLvpiJtuE3Y4="}'
  recorded_at: Sun, 01 Jan 2017 22:29:31 GMT
- request:
    method: post
    uri: http://api.marketcloud.it//v0/users
    body:
      encoding: UTF-8
      string: '{"email":"prova2@prova.it","name":"prova","password":"provapw"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:JlHLDA0ZJP5yW0AMeliTfwJfOKPPz4CKLvpiJtuE3Y4=
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"84-6suz3qtR5FyoGnLKYYHnHA"
    body:
      encoding: UTF-8
      string: '{"status":false,"errors":[{"code":400,"type":"EmailAddressExists","message":"The
        email address prova2@prova.it is already taken."}]}'
  recorded_at: Sun, 01 Jan 2017 22:29:31 GMT
recorded_with: VCR 3.0.3
