---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"vreEpSBBKv1HEhx6vpbnpYKU4VF0Z+52PGf4c993rfU=","timestamp":1483894402}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-GQioPkDxxNZzSsSoRLWC0Q"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"Xxv1iueQs0/DUAUD/6lARoRhHwvhQrxlJV0ig2WndGE="}'
  recorded_at: Sun, 08 Jan 2017 16:53:23 GMT
- request:
    method: put
    uri: http://api.marketcloud.it/v0/users/107227
    body:
      encoding: UTF-8
      string: '{"name":"Panco Pillowo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:Xxv1iueQs0/DUAUD/6lARoRhHwvhQrxlJV0ig2WndGE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"114-GNR7dAawGDaumZLhO1JrnQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"_id":"586589eaf0a1c8622c9427b8","name":"Panco
        Pillowo","password":"Dci15XmGyrt1+AoT5+nOBvaKDaw=","created_at":"2016-12-29T22:10:50.905Z","registered_with":"marketcloud","email":"pinco@pallo.it","application_id":107224,"id":107227,"status":"confirmed"}}'
  recorded_at: Sun, 08 Jan 2017 16:53:23 GMT
recorded_with: VCR 3.0.3
