---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"a0d35ddd-a510-41be-b476-c1457753afcc","secretKey":"RFh3buRPqON+6qhA8xJa9vHcCv1mNmXzM7hEW+ZoEL4=","timestamp":1482917483}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-zMBwNOOL8iCTbEf0667MbQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"O3gNbUYYAI3yxeIoAeR/GdYSfHV1/UfcrOc5qVj+xwU="}'
  recorded_at: Wed, 28 Dec 2016 09:31:23 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/users/authenticate
    body:
      encoding: UTF-8
      string: '{"email":"prova@prova.it","password":"provapw"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - a0d35ddd-a510-41be-b476-c1457753afcc:O3gNbUYYAI3yxeIoAeR/GdYSfHV1/UfcrOc5qVj+xwU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7d-Hq8SrC9jkVuFdMOWQiKuUw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"token":"JxcCOZa5WN/+mTbpL6OMkhCNkCvYlfqM6HQpyvRz9MQ=","user":{"id":105690,"email":"prova@prova.it"}}}'
  recorded_at: Wed, 28 Dec 2016 09:31:24 GMT
recorded_with: VCR 3.0.3
