---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"DZQP+NDLYcFpUmF6Sly+z3j7fc8QVf+SL7/j+g4Af+M=","timestamp":1483051673}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-8EwROEDL9Sehg1DOOdUe1g"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"ak/V20OOpYRRGmIggKkh2e4sgff68rZ9k+Y83H9gvfA="}'
  recorded_at: Thu, 29 Dec 2016 22:47:53 GMT
- request:
    method: get
    uri: http://api.marketcloud.it/v0/users/107227
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:ak/V20OOpYRRGmIggKkh2e4sgff68rZ9k+Y83H9gvfA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9a-ncz3PPkNBsDt6Nv2nZZhJA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"name":"Pinco Pallo","created_at":"2016-12-29T22:10:50.905Z","registered_with":"marketcloud","email":"pinco@pallo.it","id":107227}}'
  recorded_at: Thu, 29 Dec 2016 22:47:54 GMT
recorded_with: VCR 3.0.3
