---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"YG6Iq9i51ygdLP7gLhh/Syi7GUQG2OZSmol11E8BvAc=","timestamp":1486910078}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-bHD6+X4mn1EDrNrLvvvibQ"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"p16GTebXltU0xgQkePC4ixu8JXMyIhVNfmzYMqGml3s="}'
  recorded_at: Sun, 12 Feb 2017 14:34:38 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/users/authenticate
    body:
      encoding: UTF-8
      string: '{"email":"prova2@prova.it","password":"provapw"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:p16GTebXltU0xgQkePC4ixu8JXMyIhVNfmzYMqGml3s=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7e-r/bq59FS422Bm7OrPUu3QA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"token":"JrR7DTJ0CCGcqPG6IOXlDnzVulVpB4qvB99sD/5NCEc=","user":{"id":107237,"email":"prova2@prova.it"}}}'
  recorded_at: Sun, 12 Feb 2017 14:34:41 GMT
recorded_with: VCR 3.0.3
