---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"hUPWWwh0OREqgAVZRFyP/uSMw2whPzZggbF1nWUmJgI=","timestamp":1486909946}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-fcCUOG5CMS6vsOiDCthnfA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"2zaTfJbw/nktHVDt+676kPT31KzMFsX421HMVC5AZCo="}'
  recorded_at: Sun, 12 Feb 2017 14:32:26 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/users
    body:
      encoding: UTF-8
      string: '{"email":"prova3@prova.it","name":"prova","password":"provapw"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:2zaTfJbw/nktHVDt+676kPT31KzMFsX421HMVC5AZCo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"95-fFmoklbLspPbq3nvPE3Szg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"email":"prova3@prova.it","name":"prova","created_at":"2017-02-12T14:32:25.999Z","id":128916,"registered_with":"marketcloud"}}'
  recorded_at: Sun, 12 Feb 2017 14:32:26 GMT
recorded_with: VCR 3.0.3
