---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"N6LkKKrq8Owl5xI6ZgM9jXrOtXNjX7UbsrMz1Gc3rck=","timestamp":1483309021}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-KOho8MXmw1hno9luGOsIQg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"exIUvvhenRVwBdbdbKlaHAcFaXSFnA3AbDzYFhpWQGg="}'
  recorded_at: Sun, 01 Jan 2017 22:17:01 GMT
- request:
    method: get
    uri: http://api.marketcloud.it//v0/users/107227
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:exIUvvhenRVwBdbdbKlaHAcFaXSFnA3AbDzYFhpWQGg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9a-ncz3PPkNBsDt6Nv2nZZhJA"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"name":"Pinco Pallo","created_at":"2016-12-29T22:10:50.905Z","registered_with":"marketcloud","email":"pinco@pallo.it","id":107227}}'
  recorded_at: Sun, 01 Jan 2017 22:17:01 GMT
recorded_with: VCR 3.0.3
