---
http_interactions:
- request:
    method: post
    uri: http://api.marketcloud.it/v0/tokens
    body:
      encoding: UTF-8
      string: '{"publicKey":"e8152fe2-237a-4360-8ad2-f3773082226c","secretKey":"9shjSHReuZbetNUr9zjuQ+Ljts9XHg7f+UsqAvRXmSQ=","timestamp":1483050953}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46-+Vx+YoRvMiBTjvkBf4Tfdg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"token":"XN05wF4JlKtBXgjdCZjhXQMBENB0aPwFVes4ttpdJ8A="}'
  recorded_at: Thu, 29 Dec 2016 22:35:53 GMT
- request:
    method: post
    uri: http://api.marketcloud.it/v0/users/authenticate
    body:
      encoding: UTF-8
      string: '{"email":"prova2@prova.it","password":"provapw"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e8152fe2-237a-4360-8ad2-f3773082226c:XN05wF4JlKtBXgjdCZjhXQMBENB0aPwFVes4ttpdJ8A=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7e-DLNrcAV3sx69ftggsNDM4g"
    body:
      encoding: ASCII-8BIT
      string: '{"status":true,"data":{"token":"azhemWQdUyAP3ULlrQM5qXG+Nz+Fs4xVTfiRqttpHgM=","user":{"id":107237,"email":"prova2@prova.it"}}}'
  recorded_at: Thu, 29 Dec 2016 22:35:54 GMT
recorded_with: VCR 3.0.3
